section.per-char.padding-lg.bg-gray
    .container
        .row.title.d-flex.justify-content-center
            .col-12
                .wow-outer
                    h3.text-center.wow.slideInDown Технические характеристики ULC-02

            .col-12.col-lg-8
                .wow-outer
                    p.text-center.wow.slideInDown Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.

        .row.d-flex.justify-content-center

            .col-12.col-lg-4.wow-outer
                .box-light.wow.fadeInLeft(data-wow-duration="0.4s")
                    img(src='https://www.owen.ru/uploads/26/-20.svg', width="70px" alt="#")
                    h4.box-light-title Интерфейс RS-485
                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
            
            .col-12.col-lg-4.wow-outer
                .box-light.wow.fadeInLeft(data-wow-duration="0.8s")
                    img(src='https://www.owen.ru/uploads/34/modbus.svg', width="70px" alt="#")
                    h4.box-light-title Интерфейс RS-485
                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.

            .col-12.col-lg-4.wow-outer
                .box-light.wow.fadeInLeft(data-wow-duration="1s")
                    img(src='https://www.owen.ru/uploads/26/ip20.svg', width="70px" alt="#")
                    h4.box-light-title Интерфейс RS-485
                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.

            .col-12.col-lg-4.wow-outer
                .box-light.wow.fadeInLeft(data-wow-duration="0.4s")
                    img(src='https://www.owen.ru/uploads/26/di.svg', width="70px" alt="#")
                    h4.box-light-title Интерфейс RS-485
                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.

            .col-12.col-lg-4.wow-outer
                .box-light.wow.fadeInLeft(data-wow-duration="0.8s")
                    img(src='https://www.owen.ru/uploads/27/rs485.svg', width="70px" alt="#")
                    h4.box-light-title Интерфейс RS-485
                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.

            .col-12.col-lg-4.wow-outer
                .box-light.wow.fadeInLeft(data-wow-duration="1.2s")
                    img(src='https://www.owen.ru/uploads/141/ikonka_oblako-98.svg', width="70px" alt="#")
                    h4.box-light-title Интерфейс RS-485
                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.

