@import '../../pages/colors.styl'
    
section.per-char
    .title
        p
            margin: 30px 0;
            
    .box-light
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px 25px;
        margin: 15px 10px;
        text-align: center;

        h4.box-light-title
            color: $main-color
            margin-top: 10px;