section.last-blog.padding-lg
    .container
        .row
            .col-12.wow-outer
                h3.text-center.wow.fadeInDown Почему он используется

        .row.mt-75
            .col-sm-12.col-lg-6.mr-b-20.wow-outer
                .post.wow.fadeInLeft
                    a.blackout(href="#")
                        img.w-100(src=require("../../resource/img/2.jpg") alt="img")
                
                    h4.mt-3
                        a(href="#") Почему он используется?
        
                    ul.post-modern-meta.d-flex
                        li Гарольд Барнетт 
                        li
                            time(datetime="2018") Март 21, 2018 13:30
                        li
                            a(href="#") Новости
    
                    p.mt-3 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст...</p>
    
            .col-sm-12.col-lg-6.r-b-20.wow-outer
                .post.wow.fadeInLeft
                    a.blackout(href="#")
                        img.w-100(src=require("../../resource/img/3.jpg") alt="img")
                    
                    h4.mt-3
                        a(href="#") Почему он используется? 
            
                    ul.post-modern-meta.d-flex
                        li Гарольд Барнетт
                        li
                            time(datetime="2018") Март 21, 2018 13:30
                        li
                            a(href="#") Новости

                    p.mt-3 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст...</p>

        .row.mt-3
            .col-12.text-center.wow-outer
                button.button.button-primar.mt-3.wow.fadeInUp(href="#") Посмотреть все новости