{% extends "base.html" %}{% load cms_tags %}{% load thumbnail %}{% load main_filter_extras %}

{% block title %} Решения {% endblock title %}
{% block style_link %}
<link href="{{ BASE_DIR }}/static/common/css/solution.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
{% endblock style_link %}

{% block content %}

<body>
  <header>
    {% static_placeholder "NavBar" %}
  </header>

  <section class="breadcrumbs">

    <div class="bg_blur"
      style="background-image: url({% thumbnail solution.background_img 1920x395 crop='center center' %})"></div>

    <div class="container">
      <div class="row content d-flex align-items-center">
        <div class="col-12">
          <div class="wow-outer">
            <h6 class="wow fadeInDown">Решения</h6>
          </div>
          <div class="wow-outer">
            <h1 class="wow fadeInDown" data-wow-delay="0.4s">{{ solution.industry }}</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 wow-outer">
          <ul class="wow fadeInDown" data-wow-delay="0.8s">
            <li> <a href="/">Главная</a></li>
            <li> <a href="{% url 'solutions'%}">Решения</a></li>
            <li> <a href="{{ solution.get_absolute_url }}">{{ solution.industry }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="description-solution padding-xs bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3 wow-outer">
          <div class="wow fadeInDown" data-wow-delay="">
            <h4>Отрасль:</h4>
            <p>
              <a class="link-gray" href="{{ solution.get_absolute_url }}">{{ solution.industry }} </a>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-3 wow-outer">
          <div class="wow fadeInDown" data-wow-delay="0.5s">
            <h4>Продукты:</h4>
            <p>
              <ul>
                {% for product in products %}
                <li>
                  <a class="link-gray" href="{{ product.get_absolute_url }}"> {{ product.title }}</a>
                </li>
                {% empty %}
                <span>Пусто!</span>
                {% endfor %}
              </ul>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-3 wow-outer">
          <div class="wow fadeInDown" data-wow-delay="1s">
            <h4>Краткое описание:</h4>
            <p>
              {{ solution.short_description }}
            </p>
          </div>
        </div>
        <div class="col-12 col-md-3 wow-outer">
          <div class="wow fadeInDown" data-wow-delay="1.5s">
            <h4>Срок реализации:</h4>
            <p>
              {{ solution.implement_period }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="aboutUs padding-lg ">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-sm-12 col-lg-6 overflow-hidden d-flex align-items-center justify-content-center">
          <img class="wow slideInRight" src="{% thumbnail solution.img 400x400 crop='center center' %} "
            max-width="400" max-height="400" alt="img">
        </div>
        <div class="col-sm-12 col-lg-5 mr-t-20 wow-outer m-text-center">
          <h3 class="wow slideInDown " data-wow-duration="1.2s">О решении</h3>
          <div class="mt-3 wow-outer">
            <div class="wow slideInLeft">
              {{ solution.description }}
            </div>
          </div>
          <div class="wow-outer ">
            <a class="button button-winona d-inline-block mt-3 wow slideInLeft" href="{% url 'solutions' %}">Решения</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="composition padding-lg bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-12 wow-outer">
          <h3 class="text-center wow slideInUp">Состав решения</h3>
        </div>
      </div>
      <div class="row mt-5">

        {% for product in products %}
        <div class="col-12 col-md-6 composition-box m-text-center wow-outer">
          <img class="wow fadeInLeft" src="{% thumbnail product.images.first.image 174x174 crop='center center' %}"
            width="174px" height="174px" alt="{{ product.title }}">
          <div class="desc wow fadeInRight">
            <h5>
              <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
            </h5>
            <span>Серия: {{ product.series }}</span>
            <P>{{ product.description|cut }}</P>
          </div>
        </div>

        {% empty %}
        <h3>Пусто!</h3>
        {% endfor %}

      </div>
    </div>
  </section>

  {% if comments %}

  <section class="recall padding-xs">
    <div class="container text-center my-3">
      <div class="row mb-5">
        <div class="col-12 wow-outer">
          <h3 class="text-center wow slideInUp">Отзывы</h3>
        </div>
      </div>

      <div class="row carousel">
        {% for comment in comments %}
        <div class="col-12 col-lg-4">
          <div class="team text-left">
            <div class="title d-flex">
              <div class="avatar">
                <img class="rounded-circle" src="{% thumbnail comment.avatar 50x50 crop='center center' %}" width="50px"
                  height="50px" alt="{{ instance.name }}"></div>
              <div class="team_info ml-3"><span class="name">{{ comment.name }}</span>
                <p class="dev">{{ comment.post }}</p>
              </div>
            </div>
            <p>{{ comment.text }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

  </section>
  {% endif %}

  {% static_placeholder "Alert CTA Solution" %}

  {% endblock content %}

  {% block js_link %}
  <script type="text/javascript" src="{{ BASE_DIR }}/static/common/js/parralax-breadcrumbs.js"></script>
  <script type="text/javascript" src="{{ BASE_DIR }}/static/common/js/solution.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  {% endblock js_link %}