<div class="container top-menu d-none d-md-block">
    <div class="row d-flex align-items-center">
        <div class="col-sm-12 col-lg-3"><a href="#"><img src="/static/images/logo.svg" height="39"></a></div>
        <div class="col-sm-6 col-lg-3">
            <div class="contact d-flex align-items-center">
                <div class="icon"><i class="fas fa-phone icon-md"></i></div>
                <div class="info ml-3">
                    <ul>
                        <li><a class="link-default" href="tel:#">0-000-0000-000</a></li>
                        <li><a class="link-default" href="tel:#">1-800-1234-567</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="contact d-flex">
                <div class="icon"><i class="fas fa-map-marker-alt icon-md"></i></div>
                <div class="info ml-3">
                    <ul>
                        <li><a class="link-default" href="#">Улица Правды 30, Витебск 210029</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-3 d-flex justify-content-end">
            <button class="button button-primar">Заказать звонок</button>
        </div>
    </div>
</div>