<!DOCTYPE html>
<html>
  <head>{% load cms_tags menu_tags sekizai_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Cuprum|Exo+2:100,100i,200,200i,300,300i,400|PT+Sans|PT+Sans+Narrow&amp;amp;subset=cyrillic" rel="stylesheet">{% render_block "css" %}        
    <title>Services-list page
    </title>
  <link href=".././static/css/common.css" rel="stylesheet"><link href=".././static/css/services-list.css" rel="stylesheet"></head>
  <body>{% cms_toolbar %}
        <section class="breadcrumbs">
          <div class="container">
            <div class="row content d-flex align-items-center">
              <div class="col-12">
                <div class="wow-outer">
                  <h6 class="wow fadeInDown">Продукция</h6>
                </div>
                <div class="wow-outer">
                  <h1 class="wow fadeInDown" data-wow-delay="0.4s">Контроллеры</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 wow-outer">
                <ul class="wow fadeInDown" data-wow-delay="0.8s">
                  <li> <a href="./services-list.html">Главная</a></li>
                  <li> <a href="./services-list.html">Продукция</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section class="aboutUs padding-lg bg-gray">
          <div class="container">
            <div class="row d-flex justify-content-between flex-row-reverse">
              <div class="col-sm-12 col-lg-6 overflow-hidden"><img class="w-100 wow slideInLeft" src="/static/images/work.jpg" alt="img"></div>
              <div class="col-sm-12 col-lg-5 mr-t-20 wow-outer text-justify">
                <h3 class="wow slideInDown">Почему он используется?</h3>
                <div class="wow-outer">
                  <p class="mt-30 wow slideInDown">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона."</p>
                </div>
                <div class="wow-outer">
                  <p class="wow slideInDown">Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.</p>
                </div>
                <div class="wow-outer">
                  <button class="button button-winona mt-3 wow slideInDown" href="#">Узнать больше</button>
                </div>
              </div>
            </div>
          </div>
        </section>
<section class="services padding-lg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="wow-outer">
          <h3 class="text-center wow slideInDown">Продукция</h3>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <div class="wow-outer">
          <p class="text-center mt-3 wow slideInDown">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.</p>
        </div>
      </div>
    </div>
    <div class="row lists-row">
      <div class="col-12 wow-outer">
        <h4 class="title wow fadeInDown">Программируемые логические контроллеры</h4>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Программируемое реле с дисплеем </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Микроконтроллерный модуль</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Контроллер для малых систем автоматизации с DI/DO</a>
        </div>
      </div>
    </div>
    <div class="row lists-row">
      <div class="col-12 wow-outer">
        <h4 class="title wow fadeInDown">Программируемые логические контроллеры</h4>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-3.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-3.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-3.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-3.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-3.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
    </div>
    <div class="row lists-row">
      <div class="col-12 wow-outer">
        <h4 class="title wow fadeInDown">Программируемые логические контроллеры</h4>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
    </div>
    <div class="row lists-row">
      <div class="col-12 wow-outer">
        <h4 class="title wow fadeInDown">Программируемые логические контроллеры</h4>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-3.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-3.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-3.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-3.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-3.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-3.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-3.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
    </div>
    <div class="row lists-row">
      <div class="col-12 wow-outer">
        <h4 class="title wow fadeInDown">Программируемые логические контроллеры</h4>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item-old wow fadeInLeft">
          <div class="box-images"><a class="box-images-hf" href="./service.html"><img src="/static/images/product3-4.jpg" alt="#"></a></div><a href="./service.html">Модуль расширения входов/выходов</a>
        </div>
      </div>
    </div>
    <div class="row lists-row">
      <div class="col-12 wow-outer">
        <h4 class="title wow fadeInDown">Программируемые логические контроллеры</h4>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item wow fadeInLeft"><img src="/static/images/product3-4.jpg" alt="#">
          <div class="solutions-caption"><a class="solutions-caption-title" href="./service.html">Модуль расширения входов/выходов</a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item wow fadeInLeft"><img src="/static/images/product3-4.jpg" alt="#">
          <div class="solutions-caption"><a class="solutions-caption-title" href="./service.html">Программируемое реле с дисплеем</a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item wow fadeInLeft"><img src="/static/images/product3-4.jpg" alt="#">
          <div class="solutions-caption"><a class="solutions-caption-title" href="./service.html">Микроконтроллерный модуль</a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item wow fadeInLeft"><img src="/static/images/product3-4.jpg" alt="#">
          <div class="solutions-caption"><a class="solutions-caption-title" href="./service.html">Контроллер для малых систем автоматизации с DI/DO</a></div>
        </div>
      </div>
    </div>
    <div class="row lists-row">
      <div class="col-12 wow-outer">
        <h4 class="title wow fadeInDown">Программируемые реле</h4>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item wow fadeInLeft"><img src="/static/images/product3-3.jpg" alt="#">
          <div class="solutions-caption"><a class="solutions-caption-title" href="./service.html">Модуль расширения входов/выходов</a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item wow fadeInLeft"><img src="/static/images/product3-3.jpg" alt="#">
          <div class="solutions-caption"><a class="solutions-caption-title" href="./service.html">Программируемое реле с дисплеем</a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item wow fadeInLeft"><img src="/static/images/product3-3.jpg" alt="#">
          <div class="solutions-caption"><a class="solutions-caption-title" href="./service.html">Микроконтроллерный модуль</a></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <div class="item wow fadeInLeft"><img src="/static/images/product3-3.jpg" alt="#">
          <div class="solutions-caption"><a class="solutions-caption-title" href="./service.html">Контроллер для малых систем автоматизации с DI/DO</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
    <section class="about-us-img padding-xl" style="background: url(https://livedemo00.template-help.com/wt_67881/images/call-to-action-2-1920x584.jpg)">
      <div class="container">               
        <div class="col-sm-12 offset-lg-6 col-lg-5 text-justify">
          <div class="wow-outer">
            <h4 class="wow fadeInDown">Почему он используется?</h4>
          </div>
          <div class="wow-outer">
            <h3 class="wow fadeInDown">Давно выяснено</h3>
          </div>
          <div class="wow-outer">
            <p class="wow fadeInDown">что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона."</p>
          </div>
          <div class="wow-outer">
            <button class="button button-winona mt-3 wow fadeInDown" href="#">Узнать больше</button>
          </div>
        </div>
      </div>
    </section>
    <section class="recall-big padding-lg">
      <div class="container">
        <div class="row">
          <div class="col-12 wow-outer">
            <h3 class="text-center wow slideInUp">Отзывы</h3>
          </div>
        </div>
        <div class="carousel slide wow-outer mt-45" id="slider-team" data-ride="carousel" data-interval="false">
          <div class="carousel-inner wow fadeInDown">
            <div class="carousel-item active">
              <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-6">
                  <div class="team"><span class="quote"><i class="fas fa-quote-left"></i></span>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.</p>
                    <div class="title d-flex">
                      <div class="avatar"><img class="rounded-circle" src="/static/images/avatar-1.jpg" width="50" alt=""></div>
                      <div class="team_info ml-3"><span class="name">Гарольд Барнетт</span>
                        <p class="dev">Региональный управляющий</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="team"><span class="quote"><i class="fas fa-quote-left"></i></span>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.</p>
                    <div class="title d-flex">
                      <div class="avatar"><img class="rounded-circle" src="/static/images/avatar-2.jpg" width="50" alt=""></div>
                      <div class="team_info ml-3"><span class="name">Гарольд Барнетт</span>
                        <p class="dev">Региональный управляющий</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-6">
                  <div class="team"><span class="quote"><i class="fas fa-quote-left"></i></span>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.</p>
                    <div class="title d-flex">
                      <div class="avatar"><img class="rounded-circle" src="/static/images/avatar-2.jpg" width="50" alt=""></div>
                      <div class="team_info ml-3"><span class="name">Гарольд Барнетт</span>
                        <p class="dev">Региональный управляющий</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="team"><span class="quote"><i class="fas fa-quote-left"></i></span>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.</p>
                    <div class="title d-flex">
                      <div class="avatar"><img class="rounded-circle" src="/static/images/avatar-3.jpg" width="50" alt=""></div>
                      <div class="team_info ml-3"><span class="name">Гарольд Барнетт</span>
                        <p class="dev">Региональный управляющий</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="carousel-indicators">
            <li class="active" data-target="#slider-team" data-slide-to="0"></li>
            <li data-target="#slider-team" data-slide-to="1"></li>
          </ul>
        </div>
      </div>
    </section>
    <footer class="padding-lg">
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <h4>Давно выяснено</h4>
      <p class="mt-30">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации.</p>
    </div>
    <div class="col-12 col-lg-4">
      <h4>Где его взять?</h4>
      <p class="mt-30 mb-1"><a href="#">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда</a></a></p>
      <ul class="d-flex">
        <li>Гарольд Барнетт</li>
        <li> <a class="ml-3" href="#">2 дня назад</a></li>
      </ul>
      <p class="mb-1 mt-30"><a href="#">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда</a></a></p>
      <ul class="d-flex">
        <li>Гарольд Барнетт</li>
        <li> <a class="ml-3" href="#">2 дня назад</a></li>
      </ul>
    </div>
    <div class="col-12 col-lg-4">
      <h4>Галерея</h4>
      <div class="container mt-30">
        <div class="row">
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col-12 col-lg-10">
      <ul class="bottom-menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Продукция</a></li>
        <li><a href="#">Решения</a></li>
        <li><a href="#">О бренде</a></li>
      </ul>
    </div>
    <div class="col-12 col-lg-2">
      <ul class="social-icon d-flex justify-content-between">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-google"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="footer-advanced"><a class="mr-t-20" href="#"><img src="/static/images/logo_white.svg" height="39"></a><span class="mr-t-20">© 2019 Все права защищены.</span></div>
  </div>
</div>
    </footer>{% render_block "js" %}
  <script type="text/javascript" src=".././static/js/common.js"></script><script type="text/javascript" src=".././static/js/services-list.js"></script></body>
</html>