{% extends "base.html" %}
{% load cms_tags %}
{% load thumbnail %}

{% block title %} Продукция {% endblock title %}

{% block style_link %}
<link href="{{ BASE_DIR }}/static/common/css/product-list.css" rel="stylesheet"> {% endblock style_link %}

{% block content %}

<header>
    {% static_placeholder "NavBar" %}
</header>

{% static_placeholder "Breadcrumbs products" %}
<section class="services padding-lg">
    <div class="container">
        {% static_placeholder "All products" %}

        <div class="row lists-row">
            {% for key, groupProduct in list_products.items %}
                {% if groupProduct%}
                    <div class="col-12 wow-outer text-center">
                        <h4 class="title ">
                            <a href="#" class="">
                                {{ key }}
                            </a>
                        </h4>
                    </div>

                    {% for product in groupProduct %}
                    <div class="col-sm-6 col-lg-3 wow-outer">
                        <div class="item-old">
                            {% if product.added %}
                                <div class="box-images" clicked="true" id="{{ product.id }}">
                            {% else %}
                                <div class="box-images" clicked="false" id="{{ product.id }}">
                            {% endif%}

                                <div class="box-icon">
                                    <i class="fas fa-plus"></i>
                                </div>
                                <div class="box-images-hf">
                                    <img src="{% thumbnail product.images.first.image 255x250 crop='center center' %} "
                                        alt="{{ product.title }}">
                                </div>
                            </div>
                            <a class="w-100 text-center" href="{{ product.get_absolute_url }}">
                                {{ product.title }}
                            </a>
                            
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}

{% block js_link %}
<script type="text/javascript" src="{{ BASE_DIR }}/static/common/js/parralax-breadcrumbs.js"></script>
<script type="text/javascript" src="{{ BASE_DIR }}/static/common/js/products.js"></script>
{% endblock js_link %}