@import '../../pages/colors.styl'
header
    .top-menu
        padding-top: 30px;
        padding-bottom: 30px;
        
        .contact 
            .icon
                border-radius: 50%;
                border: 1px solid #e8e9ee;
                color: $main-color;
                min-width: 48px;
                min-height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
