section.contact-us.bg-gray.padding-xs
        .container
            .row
                .col-sm-12.col-lg-6.wow-outer
                    h3.text-center.wow.fadeInDown Связаться с нами

                    form(action="#")
                        .row
                            .col-12.col-lg-6.wow-outer
                                .group-form.wow.fadeInDown
                                    label.error(for="#") Имя
                                    input.error(type="text" value="error" placeholder="Имя")
  
                            .col-12.col-lg-6.wow-outer
                                .group-form.wow.fadeInDown
                                    label(for="#") Фамилия
                                    input(type="text" placeholder="Фамилия")
   
                        .row
                            .col-12.col-lg-6.wow-outer
                                .group-form.wow.fadeInDown
                                    label(for="#") Почта
                                    input(type="text" placeholder="Почта")
  
                            .col-12.col-lg-6.wow-outer
                                .group-form.wow.fadeInDown
                                    label(for="#") Адрес
                                    input(type="text" placeholder="Адрес")

                        .row
                            .col-12.wow-outer
                                .group-form.wow.fadeInDown
                                    label(for="#") Сообщение
                                    textarea(name="" id="" cols="3" rows="3" placeholder="Сообщение")
     

                        .row.mt-45
                            .col-12.d-flex.align-items-center.justify-content-center
                                .wow-outer
                                    button.button.button-winona.wow.fadeInRight(href="#") Отправить
 
                                span.ml-3.mr-3 или
                                
                                .wow-outer
                                    button.button.button-primar.wow.fadeInLeft(href="#")
                                        i.fab.fa-facebook-messenger
                                        span.ml-2 мессенджер