$main-color = #0095d9
$main-color-hover = #00537b
$text-color = #74757f
$text-color-bold = #2d3742

$mute-color = #f5f6fa
$darke-color = #12394b
$error-color = #dc0000

$bg-color-footer = #2d3742
$bg-color-menu = #f5f6fa