section.alert-cta.bg-primary-darker.padding-xs 
    .container
        .row
            .col-12.col-lg-8.d-flex.justify-content-center.align-items-center.wow-outer
                h4.text-white.text-center.wow.slideInRight 
                    span Узнайте 
                    span.font-weight-bold стоимость 
                    span прямо сейчас!

            .col-12.col-lg-4.d-flex.justify-content-center.align-items-center.mr-t-20.wow-outer
                button.button.button-winona.wow.slideInLeft(href="#") Бесплатная консультация