<section class="alert-cta bg-primary-darker padding-xs">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 d-flex justify-content-center align-items-center wow-outer">
                <!-- <h4 class="text-white text-center wow slideInRight"> <span>Узнайте </span><span
                        class="font-weight-bold">стоимость </span><span>прямо сейчас!</span></h4> -->
                <h4 class="text-white text-center wow slideInRight"> <span>{{ instance.text }}</span></h4>
            </div>
            <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center mr-t-20 wow-outer">
                <button class="button button-winona wow slideInLeft" href="#">{{ instance.text_button }}</button>
            </div>
        </div>
    </div>
</section>