<section class="alert-cta {{ instance.bg_color }} padding-xs">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 d-flex justify-content-end align-items-center overflow-hidden">
                <div class="wow slideInRight"> 
                    {{ instance.text }}
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex justify-content-start align-items-center mr-t-20 overflow-hidden">
                <button class="button button-winona wow slideInLeft" href="#">{{ instance.text_button }}</button>
            </div>
        </div>
    </div>
</section>