<section class="alert-cta {{ instance.bg_color }} padding-xs">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 d-flex justify-content-end align-items-center overflow-hidden">
                <div class="wow slideInRight text-center"> 
                    {{ instance.text }}
                </div>
            </div>
            <div class="button_view col-12 col-lg-4 d-flex align-items-center mr-t-20 overflow-hidden">
                <a class="button button-winona wow slideInLeft" href="{% url 'product-all' %}">{{ instance.text_button }}</a>
            </div>
        </div>
    </div>
</section>