<section class="contact-us {{ instance.bg_color }} padding-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 offset-lg-3 wow-outer">
                <h3 class="text-center wow fadeInDown">Связаться с нами</h3>
                <form action="#">
                    <div class="row">
                        <div class="col-12 col-lg-6 wow-outer">
                            <div class="group-form wow fadeInDown">
                                <label for="#">Имя</label>
                                <!-- <label class="error" for="#">Имя</label> -->
                                <input type="text" placeholder="Имя">
                                <!-- <input class="error" type="text" value="error" placeholder="Имя"> -->
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 wow-outer">
                            <div class="group-form wow fadeInDown">
                                <label for="#">Фамилия</label>
                                <input type="text" placeholder="Фамилия">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 wow-outer">
                            <div class="group-form wow fadeInDown">
                                <label for="#">Почта</label>
                                <input type="text" placeholder="Почта">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 wow-outer">
                            <div class="group-form wow fadeInDown">
                                <label for="#">Адрес</label>
                                <input type="text" placeholder="Адрес">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 wow-outer">
                            <div class="group-form wow fadeInDown">
                                <label for="#">Сообщение</label>
                                <textarea name="" id="" cols="3" rows="3" placeholder="Сообщение"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-45">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <div class="wow-outer">
                                <button class="button button-winona wow fadeInRight" href="#">Отправить</button>
                            </div><span class="ml-3 mr-3">или</span>
                            <div class="wow-outer">
                                <button class="button button-primar wow fadeInLeft" href="#"><i
                                        class="fab fa-facebook-messenger"></i><span
                                        class="ml-2">мессенджер</span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>