<footer class="padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 mb-2 m-text-center">
                <h4>{{ instance.header_1 }}</h4>
                <p class="mt-30">{{ instance.description_1 }}</p>
            </div>
            <div class="col-12 col-lg-4 mb-2 m-text-center">
                <h4>{{ instance.header_2 }}</h4>
                <ul class="mt-30 pr-3">
                    <li class="d-flex flex-row mb-3"><span><i class="fas fa-map-marker-alt text-white"></i></span><a
                            class="ml-3" href="#">{{ contact.locations }}</a></li>
                    <li class="d-flex flex-row mb-3"><span><i class="fas fa-phone text-white"></i></span><a class="ml-3"
                            href="tel:{{ contact.phone_number }}">{{ contact.phone_number }}</a></li>
                    <li class="d-flex flex-row mb-3"><span><i class="fas fa-envelope text-white"></i></span><a
                            class="ml-3" href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 mb-2 m-text-center">
                <h4>{{ instance.header_3 }}</h4>
                <p class="mt-30">{{ instance.description_2 }} </p>
                <div class="input-group">
                    <input type="text" placeholder="E-mail">
                    <button> <i class="fas fa-envelope text-white"></i></button>
                </div>
            </div>
        </div>
        <div class="row d-none d-md-flex align-items-center">
            <div class="col-12 col-lg-10">
                <ul class="bottom-menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="{% url 'product-all' %}">Продукция</a></li>
                    <li><a href="{% url 'solutions' %}">Решения</a></li>
                    <li><a href="#">О бренде</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="footer-advanced"><a class="mr-t-20" href="/"><img
                        src="{{ BASE_DIR }}/static/images/logo_white.svg" height="39"></a><span class="">© 2019
                    Все права защищены.</span></div>
        </div>
    </div>
</footer>