<section class="last-blog {{ instance.bg_color }} padding-lg">
        <div class="container">
            <div class="row">
                <div class="col-12 wow-outer">
                    <h3 class="text-center wow fadeInDown">{{ instance.title }}</h3>
                </div>
            </div>
            <div class="row mt-75">
                <div class="col-sm-12 col-lg-6 mr-b-20 wow-outer">
                    <div class="post wow fadeInLeft"><a class="blackout" href="#"><img class="w-100"
                                src="/static/images/2.jpg" alt="img"></a>
                        <h4 class="mt-3"><a href="#">Почему он используется?</a></h4>
                        <ul class="post-modern-meta d-flex">
                            <li>Гарольд Барнетт </li>
                            <li>
                                <time datetime="2018">Март 21, 2018 13:30</time>
                            </li>
                            <li><a href="#">Новости</a></li>
                        </ul>
                        <p class="mt-3">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                            сосредоточиться.
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                            шаблона, а
                            также реальное распределение букв и пробелов в абзацах, которое не получается при простой
                            дубликации
                            "Здесь ваш текст...</p>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 r-b-20 wow-outer">
                    <div class="post wow fadeInLeft"><a class="blackout" href="#"><img class="w-100"
                                src="/static/images/3.jpg" alt="img"></a>
                        <h4 class="mt-3"><a href="#">Почему он используется? </a></h4>
                        <ul class="post-modern-meta d-flex">
                            <li>Гарольд Барнетт</li>
                            <li>
                                <time datetime="2018">Март 21, 2018 13:30</time>
                            </li>
                            <li><a href="#">Новости</a></li>
                        </ul>
                        <p class="mt-3">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                            сосредоточиться.
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                            шаблона, а
                            также реальное распределение букв и пробелов в абзацах, которое не получается при простой
                            дубликации
                            "Здесь ваш текст...</p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center wow-outer">
                    <button class="button button-primar mt-3 wow fadeInUp" href="#">Посмотреть все новости</button>
                </div>
            </div>
        </div>
    </section>