{% load thumbnail %}

<section class="last-blog {{ instance.bg_color }} padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-12 wow-outer">
                <h3 class="text-center wow fadeInDown">{{ instance.title }}</h3>
            </div>
        </div>
        <div class="row mt-75">
            <div class="col-sm-12 col-lg-4 r-b-20 wow-outer">
                <div class="post wow fadeInLeft"><a class="blackout" href="#"><img class="w-100"
                            src="http://www.vitebsk.energo.by/netcat_files/userfiles/news2019/blagn1.jpg" alt="img"></a>
                    <h4 class="mt-3"><a href="#">Масштабные работы по благоустройству развернули энергетики
                            Новополоцка.</a></h4>
                    <ul class="post-modern-meta d-flex">
                        <li>
                            <time datetime="2018">Март 21, 2018 13:30</time>
                        </li>
                        <li><a href="#">Новости</a></li>
                    </ul>
                    <p class="mt-3">С приходом весны во всех филиалах РУП «Витебскэнерго» развернулись работы по
                        наведению порядка и благоустройству территорий. Хозяйство в ведении энергетиков находится весьма
                        обширное. Сюда относятся и многочисленные опоры ... </p>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 r-b-20 wow-outer">
                <div class="post wow fadeInLeft"><a class="blackout" href="#"><img class="w-100"
                            src="http://www.vitebsk.energo.by/netcat_files/userfiles/news2019/insp-lgres2.jpg"
                            alt="img"></a>
                    <h4 class="mt-3"><a href="#">Лучшие общественные инспекторы Лукомльской ГРЭС.</a></h4>
                    <ul class="post-modern-meta d-flex">
                        <li>
                            <time datetime="2018">Март 21, 2018 13:30</time>
                        </li>
                        <li><a href="#">Новости</a></li>
                    </ul>
                    <p class="mt-3">В филиале «Лукомльская ГРЭС» проведена учёба общественных инспекторов по
                        осуществлению общественного контроля за соблюдением законодательства об охране труда и положений
                        коллективного договора....</p>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 r-b-20 wow-outer">
                <div class="post wow fadeInLeft"><a class="blackout" href="#"><img class="w-100"
                            src="http://www.vitebsk.energo.by/netcat_files/userfiles/news2019/blagn2.jpg" alt="img"></a>
                    <h4 class="mt-3"><a href="#">Благоустройство территории находится на постоянном контроле энергетиков
                        </a></h4>
                    <ul class="post-modern-meta d-flex">
                        <li>
                            <time datetime="2018">Март 21, 2018 13:30</time>
                        </li>
                        <li><a href="#">Новости</a></li>
                    </ul>
                    <p class="mt-3">Каждый рачительный хозяин заботится о том, чтобы на его территории было всегда
                        чисто, красиво и уютно. Порядок на объектах энергосистемы Витебской области постоянно находится
                        на особом контроле энергетиков. Персонал всех ...</p>
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center wow-outer">
                <button class="button button-primar mt-3 wow fadeInUp" href="#">Посмотреть все новости</button>
            </div>
        </div>
    </div>
</section>