<div class="container top-menu d-none d-lg-block">
    <div class="row d-flex align-items-center">
        <div class="col-lg-3">
            <a href="/">
                <img src="/static/images/logo.svg" height="39">
            </a>
        </div>
        <div class="col-lg-3">
            <div class="contact d-flex align-items-center">
                <div class="icon"><i class="fas fa-phone icon-md"></i></div>
                <div class="info ml-3">
                    <ul>
                        <li><a class="link-default text-nowrap" href="tel:{{ instance.phone_number }}">{{ instance.phone_number }}</a></li>
                        <li><a class="link-default text-nowrap" href="tel:{{ instance.phone_number_2 }}">{{ instance.phone_number_2 }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="contact d-flex">
                <div class="icon"><i class="fas fa-map-marker-alt icon-md"></i></div>
                <div class="info ml-3">
                    <ul>
                        <li><a class="link-default" href="#"> {{ instance.locations }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-end">
            <a class="button button-primar" id="button_contact_us" href="#contact-us">{{ instance.button_text }}</a>
        </div>
    </div>
</div>