<div class="navbar navbar-expand-md main-menu">
    <div class="container">
        <div class="container-mobile-menu">
            <button class="navbar-toggler" type="button" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-bars icon-md"></i></button>
                <img class="d-md-none" src="/static/images/logo.svg" height="25" alt="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-top-mobile"
                aria-controls="menu-top-mobile" aria-expanded="false" aria-label="Toggle navigation 2"><i
                    class="fas fa-ellipsis-v icon-md"></i></button>
        </div>
        <div class="d-md-none d-xs-none">
            <div class="collapse navbar-collapse" id="menu-top-mobile">
                <div class="container pb-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact d-flex align-items-center">
                                <div class="icon"><i class="fas fa-phone icon-md"></i></div>
                                <div class="info ml-3">
                                    <ul>
                                        <li><a class="link-default" href="tel:#">1-800-1234-567</a></li>
                                        <li><a class="link-default" href="tel:#">1-800-1234-567</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="contact d-flex align-items-center">
                                <div class="icon"><i class="fas fa-map-marker-alt icon-md"></i></div>
                                <div class="info ml-3">
                                    <ul>
                                        <li><a class="link-default" href="#">Улица Правды 30, Витебск 210029</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <a href="#contact-us" class="button button-primar">Заказать звонок</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"><a class="logo-box" href="/"><img
                    class="logo-dt d-none d-md-block hide" src="/static/images/logo.svg" height="20" alt="logo"></a>
            <ul class="navbar-nav mr-auto hide">
                <li class="nav-item"><a class="nav-link" href="{% url 'solutions' %}">Решения</a></li>
                <li class="nav-item dropdown position-static">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="{% url 'product-all' %}"> Продукция
                        <span class="chevron"> <i class="fas fa-chevron-down"></i></span></a>
                    <div class="dropdown-menu">
                        <div class="mega-menu-container">
                            <div class="container">
                                <div class="row">
                                    {% for groupProduct in groupProducts %}
                                        {% if groupProduct.product_set.all %}
                                            <div class="col-12 col-md-3">
                                                <div class="mega-menu-box">
                                                    <h5> 
                                                        <a href="{{ groupProduct.get_absolute_url }}">{{ groupProduct.title }}</a>
                                                    </h5>
                                                    <ul>
                                                        {% for product in groupProduct.product_set.all %}
                                                            <li>
                                                                <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% empty %}
                                        <span>Пусто!</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">О бренде</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
            </ul>
            <span class="nav-item search d-none d-md-block position-relative">
                <i class="fas fa-search"></i>

                <div class="search-container">
                    <input id="search-input" type="text">
                    <div class="resoult">
                        <div class="box-resoult">
                            <img src="http://localhost:8080/media/images/solutions/ant-rozetsky-272965-unsplash_vDzNOU4.jpg.255x300_q85_crop-center.jpg "  class="mr-3 mt-1" width="50px" height="50px" alt="#">
                            <div>
                                <a class="title" href="#">Контроллер для средних сетей автоматизации ULC-03</a>
                                <a class="category" href="#">Контроллеры</a>
                            </div>
                        </div>
                        <div class="box-resoult">
                                <img src="http://localhost:8080/media/images/solutions/ant-rozetsky-272965-unsplash_vDzNOU4.jpg.255x300_q85_crop-center.jpg "  class="mr-3 mt-1" width="50px" height="50px" alt="#">
                                <div>
                                    <a class="title" href="#">Контроллер для средних сетей автоматизации ULC-03</a>
                                    <a class="category" href="#">Контроллеры</a>
                                </div>
                            </div>
                            <div class="box-resoult">
                                    <img src="http://localhost:8080/media/images/solutions/ant-rozetsky-272965-unsplash_vDzNOU4.jpg.255x300_q85_crop-center.jpg "  class="mr-3 mt-1" width="50px" height="50px" alt="#">
                                    <div>
                                        <a class="title" href="#">Контроллер для средних сетей автоматизации ULC-03</a>
                                        <a class="category" href="#">Контроллеры</a>
                                    </div>
                                </div>
                    </div>
                </div>

            </span>
        </div>
    </div>
</div>