<div class="navbar navbar-expand-md main-menu">
    <div class="container">
        <div class="container-mobile-menu">
            <button class="navbar-toggler" type="button" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-bars icon-md"></i></button><img class="d-md-none"
                src="/static/images/logo.svg" height="25" alt="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-top-mobile"
                aria-controls="menu-top-mobile" aria-expanded="false" aria-label="Toggle navigation 2"><i
                    class="fas fa-ellipsis-v icon-md"></i></button>
        </div>
        <div class="d-md-none d-xs-none">
            <div class="collapse navbar-collapse" id="menu-top-mobile">
                <div class="container pb-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact d-flex align-items-center">
                                <div class="icon"><i class="fas fa-phone icon-md"></i></div>
                                <div class="info ml-3">
                                    <ul>
                                        <li><a class="link-default" href="tel:#">1-800-1234-567</a></li>
                                        <li><a class="link-default" href="tel:#">1-800-1234-567</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="contact d-flex align-items-center">
                                <div class="icon"><i class="fas fa-map-marker-alt icon-md"></i></div>
                                <div class="info ml-3">
                                    <ul>
                                        <li><a class="link-default" href="#">Улица Правды 30, Витебск 210029</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <button class="button button-primar">Заказать звонок</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"><a class="logo-box" href="./index.html"><img
                    class="logo-dt d-none d-md-block hide" src="/static/images/logo.svg" height="20" alt="logo"></a>
            <ul class="navbar-nav mr-auto hide">
                <li class="nav-item"><a class="nav-link" href="#">Решения</a></li>
                <li class="nav-item dropdown position-static"><a class="nav-link dropdown-toggle" id="navbarDropdown"
                        href="./services-list.html">Продукция<span class="chevron"><i
                                class="fas fa-chevron-down"></i></span></a>
                    <div class="dropdown-menu">
                        <div class="mega-menu-container">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="mega-menu-box">
                                            <h5> <a href="./service.html">Контроллеры</a></h5>
                                            <ul>
                                                <li> <span class="icon"><i class="fas fa-angle-right"></i></span><a
                                                        href="./service.html">UlC-02</a></li>
                                                <li><span class="icon"><i class="fas fa-angle-right"></i></span><a
                                                        href="./service.html">UlC-03</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="mega-menu-box">
                                            <h5> <a href="./service.html">Устройства связи</a></h5>
                                            <ul>
                                                <li><span class="icon"><i class="fas fa-angle-right"></i></span><a
                                                        href="./service.html">3G-модем</a></li>
                                                <li><span class="icon"><i class="fas fa-angle-right"></i></span><a
                                                        href="./service.html">3П-роутер</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="mega-menu-box">
                                            <h5> <a href="./service.html">Диспетчерскаие щиты</a></h5>
                                            <ul>
                                                <li><span class="icon"><i class="fas fa-angle-right"></i></span><a
                                                        href="./service.html">Диспетчерский щит</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="mega-menu-box">
                                            <h5> <a href="./service.html">Оборудование АУ</a></h5>
                                            <ul>
                                                <li><span class="icon"><i class="fas fa-angle-right"></i></span><a
                                                        href="./service.html">Реклоузеры</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="mega-menu-box">
                                            <h5> <a href="./service.html">Светильники</a></h5>
                                            <ul>
                                                <li><span class="icon"><i class="fas fa-angle-right"></i></span><a
                                                        href="./service.html">Светильники уличного освещения</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="mega-menu-box">
                                            <h5> <a href="./service.html">Контрольно-измерительные приборы</a></h5>
                                            <ul>
                                                <li><span class="icon"><i class="fas fa-angle-right"></i></span><a
                                                        href="./service.html">Счётчик 1Ф электрической энергии</a></li>
                                                <li><span class="icon"><i class="fas fa-angle-right"></i></span><a
                                                        href="./service.html">Счётчик 1Ф технического учёта</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="mega-menu-box">
                                            <h5> <a href="./service.html">Аналогово-цифровые преобразователи</a></h5>
                                            <ul>
                                                <li><span class="icon"><i class="fas fa-angle-right"></i></span><a
                                                        href="./service.html">Аналогово-цифровые преобразователи</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">О бренде</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
            </ul><span class="nav-item search d-none d-md-block"><i class="fas fa-search"></i></span>
        </div>
    </div>
</div>