{% load main_filter_extras %}
{% load thumbnail %}
<div class="navbar navbar-expand-md main-menu">
    <div class="container">
        <div class="container-mobile-menu">
            <button class="navbar-toggler left_icon_menu" type="button" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars icon-sm"></i>
            </button>
            <img class="d-md-none" src="/static/images/logo.svg" height="23" alt="logo">
            <button class="navbar-toggler right_icon_menu" type="button" data-toggle="collapse" data-target="#menu-top-mobile" aria-controls="menu-top-mobile" aria-expanded="false" aria-label="Toggle navigation 2">
                <i class="fas fa-ellipsis-v icon-sm"></i>
            </button>
        </div>

        <div class="d-md-none d-xs-none">
            <div class="collapse navbar-collapse" id="menu-top-mobile">
                <div class="container pb-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact d-flex align-items-center">
                                <div class="icon"><i class="fas fa-phone icon-md"></i></div>
                                <div class="info ml-3">
                                    <ul>
                                        <li><a class="link-default" href="tel:#">1-800-1234-567</a></li>
                                        <li><a class="link-default" href="tel:#">1-800-1234-567</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="contact d-flex align-items-center">
                                <div class="icon"><i class="fas fa-map-marker-alt icon-md"></i></div>
                                <div class="info ml-3">
                                    <ul>
                                        <li><a class="link-default" href="#">Улица Правды 30, Витебск 210029</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <a href="#contact-us" class="button button-primar">Заказать звонок</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="logo-box" href="/">
                <img class="logo-dt d-none d-md-block hide" src="/static/images/logo.svg" height="20" alt="logo">
            </a>

            <ul class="navbar-nav mr-auto hide">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'solutions' %}">Решения</a>
                </li>

                <!-- Мега-меню под телефон -->
                <li class="nav-item mobile-dropdown d-md-none d-xs-none">
                    <a class="nav-link"> Продукция 
                        <span><i class="fas fa-sort-down"></i> </span> 
                    </a>
                    <div class="dropdown-menu-mobile">
                        <div class="container">
                            <div class="row pt-2">
                                {% for groupProduct in groupProducts %}
                                    <div class="col-12 group-product ">
                                        <img src="{% thumbnail groupProduct.img 30x30 crop %}" width="30px" height="30px" alt="{{ groupProduct.title }}">
                                        <span> {{ groupProduct.title }} <i class="fas fa-sort-down"></i> </span>
                                        
                                        <div class="items pt-2">
                                            <div class="container">
                                                <div class="row">
                                                    {% for product in groupProduct.product_set.all %}
                                                        <div class="col-12 mb-2 d-flex align-items-center ">
                                                            <img src="{% thumbnail product.images.first.image 30x30 crop %}" class="" width="30px" height="30px" alt="#">
                                                            <a href="{{ product.get_absolute_url }}" class="ml-2">{{ product.title }}</a>
                                                        </div>
                                                    {% endfor %}                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Мега-меню под PC -->
                <li class="nav-item dropdown position-static d-none d-md-block">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="{% url 'product-all' %}">
                        <span>Продукция</span>
                        <span class="chevron"> 
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </a>

                    <div class="dropdown-menu">
                        <div class="mega-menu-container">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3 pr-0 left">
                                        <ul class="">
                                            {% for groupProduct in groupProducts %}
                                                <li class="navigation">
                                                    {% if forloop.first %}
                                                        <a class="active" href="{{ groupProduct.get_absolute_url }}" in="{{ forloop.counter0|mult }}" >{{ groupProduct.title }}</a>
                                                    {% else %}
                                                        <a href="{{ groupProduct.get_absolute_url }}" in="{{ forloop.counter0|mult }}" >{{ groupProduct.title }}</a>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div class="col-9 pr-0 right overflow-hidden" style="height: 364px;">
                                        <div class="line_content">
                                            {% for groupProduct in groupProducts %}
                                                <div class="content" style="background-image: url('{{ groupProduct.img.url }}')">
                                                    <h3>{{ groupProduct.title }}</h3>
                                                    <ul>
                                                        {% for product in groupProduct.product_set.all %}
                                                            <li class="d-flex">
                                                                <div class="img">
                                                                    <img src="{% thumbnail product.images.first.image 30x30 crop %}" class="" width="30px" height="30px" alt="#">
                                                                </div>
                                                                <div class="desc">
                                                                    <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid p-0">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="bottom_drop_menu">
                                            <a href="{% url 'product-all' %}">Вся продукция</a>
                                            |
                                            <a href="{% url 'offer-generate-all-pdf' %}">
                                                <i class="far fa-file-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about-show' %}">О бренде</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact-show' %}">Контакты</a>
                </li>
            </ul>

            <span class="nav-item search d-none d-md-block position-relative">
                <i class="fas fa-search"></i>
                <div class="search-container">
                    <input id="search-input" type="text" placeholder="Поиск">
                    <div class="resoult"></div>
                </div>
            </span>

            <span class="nav-item ml-3 d-none d-md-block position-relative">
                <a class="offer_icon" href="{% url 'offer-show' %}">
                    <i class="fas fa-shopping-cart"></i> 
                    <span class="span_check"></span>
                </a>
            </span>

        </div>
    </div>
</div>