{% load thumbnail %}

<div class="carousel-item {{ instance.active }}">
    <div class="item d-flex align-items-center"
        style="background-image: url('{% thumbnail instance.img 1920x900 crop %}')">
        <div class="container">
            <div class="row description">
                <div class="col-12">
                    <div class="overflow-hidden">
                        <h1 class="font-weight-bold  wow fadeInDown" >
                            {{ instance.text_bold }}
                        </h1>
                    </div>
                    <div class="overflow-hidden">
                        <h2 class="font-weight-light  wow fadeInDown" >
                            {{ instance.text }}
                        </h2>
                    </div>
                    <div class="overflow-hidden">
                        <button class="button button-winona wow fadeInDown mt-3"
                        href="{% url 'product-all' %}">{{ instance.text_button }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>