{% load thumbnail %}

<div class="carousel-item {{ instance.active }}">
    <div class="item d-flex align-items-center"
        style="background-image: url('{% thumbnail instance.img 1920x900 crop %}')">
        <div class="container">
            <div class="row description">
                <div class="col-12">
                    <h1>
                        <div class="wow-outer">
                            <span class="font-weight-bold d-flex wow fadeInDown"
                            data-wow-duration ="1s" data-wow-delay="0.1s">{{ instance.text_bold }}
                            </span>
                        </div>
                        <div class="wow-outer"><span class="font-weight-light d-flex wow fadeInDown"
                            data-wow-duration ="1s"  data-wow-delay="0.4s">{{ instance.text }}</span>
                        </div>
                    </h1>
                    <div class="wow-outer mt-3">
                        <button class="button button-winona wow fadeInDown" data-wow-duration ="1s" data-wow-delay="0.7s"
                            href="#">{{ instance.text_button }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>