{% load cms_tags %}
{% load thumbnail %}

<section class="services padding-lg {{ instance.bg_color }}">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div class="wow-outer">
                    <h3 class="text-center ">{{ instance.title }}</h3>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="wow-outer">
                    <p class="text-center mt-3 ">{{ instance.descriptions }}</p>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-45">
            {% for solution in solutions %}
            <div class="col-sm-6 col-lg-3">
                <div class="item">
                    <a class="blackout wow-outer" href="{{ solution.get_absolute_url }}">
                        <img width="255" height="300" src="{% thumbnail solution.img 255x300 crop='center' %} "
                            alt="{{ solution.industry }}">
                    </a>
                    <h5 class="d-flex wow-outer"><a href="{{ solution.get_absolute_url }}">{{ solution.industry }}</a>
                    </h5>
                </div>
            </div>
            {% empty %}
            <h3>Пусто!</h3>
            {% endfor %}
        </div>
    </div>
</section>