.container.top-menu.d-none.d-md-block
    .row.d-flex.align-items-center
        .col-sm-12.col-lg-3
            a(href="#")
                img(src=require("../../resource/img/logo.svg") height="39")
        
        .col-sm-6.col-lg-3
            .contact.d-flex.align-items-center
                .icon
                    i.fas.fa-phone.icon-md
                .info.ml-3
                    ul
                        li
                            a.link-default(href="tel:#") 1-800-1234-567
                        li
                            a.link-default(href="tel:#") 1-800-1234-567

        .col-sm-6.col-lg-3
            .contact.d-flex
                .icon
                    i.fas.fa-map-marker-alt.icon-md
                .info.ml-3
                    ul
                        li
                            a.link-default(href="#") Улица Правды 30, Витебск 210029
        
        .col-sm-12.col-lg-3.d-flex.justify-content-end
            button.button.button-primar Заказать звонок