section.contact.padding-xs
    .container
        .row
            ul.items
                li.wow-outer
                    .d-flex.flex-column.wow.fadeInUp
                        .icon.mb-3
                            i.fas.fa-phone.icon-md
 
                        a.link-default(href="tel:#") 1-800-1234-567
                        a.link-default(href="tel:#") 1-800-1234-567

                li.wow-outer
                    .wow.fadeInUp
                        .icon.mb-3
                            i.fas.fa-envelope.icon-md

                        a.link-default(href="#") info@admin.org

                li.wow-outer
                    .wow.fadeInUp
                        .icon.mb-3
                            i.fas.fa-map-marker-alt.icon-md
     
                        a.link-default(href="#") Улица Правды 30, Витебск 210029