@import '../../pages/colors.styl'
    
section.slider

    .bg1
        background-image: url('../../resource/img/slider/1.jpg')
    .bg2
        background-image: url('../../resource/img/slider/2.jpeg')
    .bg3
        background-image: url('../../resource/img/slider/3.jpg')

    .item
        height: 750px;
        background-size: cover;

        .container
            padding-top: 50px;
            padding-bottom: 50px;

            .description
                h1
                    font-size: 55px;
                    line-height: 1.17647;

                button
                    margin-top: 40px;

    .carousel-indicators
        display: flex;
        position: relative;
        justify-content: start;
        top: -100px;
        margin: 0;

        span
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 15px;
            cursor: pointer;
            font-size: 16px;

            &::before
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: $main-color;
                border-radius: 50%;
                transform: scale(0);
                z-index: -1;
                transition: transform 0.5s ease-out;

            &.active
                color: white;

                &::before
                    transform: scale(1);
                    transition: transform 0.5s ease-out;
            // &:hover
            //     font-weight: 600;

            // &.active
            //     color: #fff;
            //     font-weight: 300;
            //     background-color: $main-color

    .pagination 
        ul
            display: flex
            li
                background-color: white;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 10px;
                cursor: pointer;

                &:hover, &.active
                    transform: scale(1.5);
                    background-color: $main-color
    
@media only screen and (max-width: 760px)

    section.slider
        .item
            height: 100vh;

            .container

                .description
                    h1
                        font-size: 40px;
                        line-height: 1;

                        span.font-weight-light
                            font-size: 30px;
                            margin-top: 20px;

        .carousel-indicators
            top: -130px;