doctype html
html
    head
        | {% load cms_tags menu_tags sekizai_tags %}
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        link(href="https://fonts.googleapis.com/css?family=Cuprum|Exo+2:100,100i,200,200i,300,300i,400|PT+Sans|PT+Sans+Narrow&amp;subset=cyrillic" rel="stylesheet")
        | {% render_block "css" %}        
        title
            block title
    body
        | {% cms_toolbar %}
        block main
        | {% render_block "js" %}