<section class="about-us-img padding-xl"
    style="background: url(https://livedemo00.template-help.com/wt_67881/images/call-to-action-2-1920x584.jpg)">
    <div class="container">
        <div class="col-sm-12 offset-lg-6 col-lg-5 text-justify">
            <div class="wow-outer">
                <h4 class="wow fadeInDown">{{ instance.text }}</h4>
            </div>
            <div class="wow-outer">
                <h3 class="wow fadeInDown">{{ instance.text_bold }}</h3>
            </div>
            <div class="wow-outer">
                <p class="wow fadeInDown">{{ instance.description }}</p>
            </div>
            <div class="wow-outer">
                <button class="button button-winona mt-3 wow fadeInDown" href="#">{{ instance.text_button }}</button>
            </div>
        </div>
    </div>
</section>