<section class="tabs padding-xs">
    <div class="container">
        <div class="row">
            <div class="col-12 wow-outer">
                <h3 class="text-center wow slideInDown">{{ instance.text }} {{ product.title }}</h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 wow-outer">
                <ul class="nav nav-tabs wow fadeInDown" data-wow-duration="1.5s">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Описание</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu1">Технические
                            характеристики</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu2">Условные обозначения</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu3">Документация и ПО</a></li>
                </ul>
                <div class="tab-content wow-outer">
                    <div class="container tab-pane active" id="home">
                        <ul class="mt-3">
                            <li class="wow fadeInLeft" data-wow-delay="0.2s"><i
                                    class="fas fa-chevron-right mr-3 text-main"></i><span>Корпус и большинство деталей
                                    выполнены из
                                    оцинкованной стали, обеспечивающей необходимую коррозионную стойкость.</span></li>
                            <li class="wow fadeInLeft" data-wow-delay="0.4s"><i
                                    class="fas fa-chevron-right mr-3 text-main"></i><span>Простота и надежность
                                    конструкции.</span></li>
                            <li class="wow fadeInLeft" data-wow-delay="0.6s"><i
                                    class="fas fa-chevron-right mr-3 text-main"></i><span>В соответствии с требованиями
                                    ГОСТ и ПУЭ
                                    безопасность эксплуатации КСО-298 обеспечивается системой встроенных механических
                                    блокировок.</span>
                            </li>
                            <li class="wow fadeInLeft" data-wow-delay="0.8s"><i
                                    class="fas fa-chevron-right mr-3 text-main"></i><span>Простота монтажа и наладки
                                    обеспечиваются
                                    удобным доступом к местам крепления шкафов КСО-298, кабельных и шинных
                                    присоединений.</span></li>
                            <li class="wow fadeInLeft" data-wow-delay="1s"><i
                                    class="fas fa-chevron-right mr-3 text-main"></i><span>Высокая надежность конструкции
                                    и входящего в
                                    состав КСО-298 оборудования сводит к минимуму затраты на ремонт и техническое
                                    обслуживание.</span>
                            </li>
                            <li class="wow fadeInLeft" data-wow-delay="1.2s"><i
                                    class="fas fa-chevron-right mr-3 text-main"></i><span>Возможность применения силовых
                                    выключателей
                                    отечественного и зарубежного производства обеспечивает гибкость решений.</span></li>
                            <li class="wow fadeInLeft" data-wow-delay="1.4s"><i
                                    class="fas fa-chevron-right mr-3 text-main"></i><span>Смотровые окна и
                                    дополнительное освещение
                                    камеры обеспечивают возможность визуального контроля внутреннего пространства
                                    КСО-298.</span></li>
                        </ul>
                    </div>
                    <div class="container tab-pane fade" id="menu1">
                        <h5>Технические характеристики</h5>
                        <p>Наименование параметра Значение параметра Номинальный ток главных цепей и сборных шин, А 600;
                            1000
                            Номинальный ток отключения выключателя, кА 20 Номинальное напряжение, кВ 6 (10) Номинальное
                            напряжение
                            вспомогательных сетей, В AD / CD 110В, 220В Степень защиты по ГОСТ 14254-96 IP31 Масса камер
                            с
                            выключателем (не более), кг 250 Габаритные размеры, мм, не более: ширина</p>
                    </div>
                    <div class="container tab-pane fade" id="menu2">
                        <h5>КСО-298-ENRG-ХХХХ-ХХ-ХХХ «Энергомера»</h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam
                            rem aperiam.</p>
                    </div>
                    <div class="container tab-pane fade" id="menu3">
                        <h5>Документация</h5>
                        <p> Декларация о соответствии <a href="#">PDF 469 Kb</a></p>
                        <p>Опросный лист<a href="#">Zip 142 Kb</a></p>
                        <p>Сетка главных цепей<a href="#">Zip 861 Kb</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>