<section class="per-char padding-lg bg-gray">
    <div class="container">
        <div class="row title d-flex justify-content-center">
            <div class="col-12">
                <div class="wow-outer">
                    <h3 class="text-center wow slideInDown">{{ instance.text }} {{ product.title }}</h3>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="wow-outer">
                    <p class="text-center wow slideInDown">{{ instance.description }}</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-4 wow-outer">
                <div class="box-light wow fadeInLeft" data-wow-duration="0.4s"><img
                        src="https://www.owen.ru/uploads/26/-20.svg" width="70px" alt="#">
                    <h4 class="box-light-title">Интерфейс RS-485</h4>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 wow-outer">
                <div class="box-light wow fadeInLeft" data-wow-duration="0.8s"><img
                        src="https://www.owen.ru/uploads/34/modbus.svg" width="70px" alt="#">
                    <h4 class="box-light-title">Интерфейс RS-485</h4>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 wow-outer">
                <div class="box-light wow fadeInLeft" data-wow-duration="1s"><img
                        src="https://www.owen.ru/uploads/26/ip20.svg" width="70px" alt="#">
                    <h4 class="box-light-title">Интерфейс RS-485</h4>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 wow-outer">
                <div class="box-light wow fadeInLeft" data-wow-duration="0.4s"><img
                        src="https://www.owen.ru/uploads/26/di.svg" width="70px" alt="#">
                    <h4 class="box-light-title">Интерфейс RS-485</h4>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 wow-outer">
                <div class="box-light wow fadeInLeft" data-wow-duration="0.8s"><img
                        src="https://www.owen.ru/uploads/27/rs485.svg" width="70px" alt="#">
                    <h4 class="box-light-title">Интерфейс RS-485</h4>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 wow-outer">
                <div class="box-light wow fadeInLeft" data-wow-duration="1.2s"><img
                        src="https://www.owen.ru/uploads/141/ikonka_oblako-98.svg" width="70px" alt="#">
                    <h4 class="box-light-title">Интерфейс RS-485</h4>
                    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
                </div>
            </div>
        </div>
    </div>
</section>