{% extends "base.html" %}
{% load cms_tags %}
{% load thumbnail %}

{% block title %} Продукция {% endblock title %}

{% block style_link %}
<link href="{{ BASE_DIR }}/static/common/css/offer.css" rel="stylesheet"> {% endblock style_link %}

{% block content %}

<header>
    {% static_placeholder "NavBar" %}
</header>

<section class="breadcrumbs">
    <div class="bg_blur"
        style="background-image: url('/static/images/offer-bg.jpg')">
    </div>

    <div class="container">
        <div class="row content d-flex align-items-center">
            <div class="col-12">
                <div class="wow-outer">
                    <h6 class="wow fadeInDown">Получить</h6>
                </div>
                <div class="wow-outer">
                    <h1 class="wow fadeInDown" data-wow-delay="0.4s">Коммерческое предложение</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 wow-outer">
                <ul class="wow fadeInDown" data-wow-delay="0.8s">
                    <li> <a href="/">Главная</a></li>
                    <li> <a href="{% url 'offer-show' %}">Коммерческое предложение</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="offer padding-lg">
    <div class="container">
        {% if products %}
        <div class="row border border-top-0 border-left-0 border-right-0 mb-3">
            <div class="d-none d-md-block col-md-2">
                <h5>Изображение</h5>
            </div>
            <div class="d-none d-md-block col-md-6">
                <h5>Описание</h5>
            </div>
            <div class="d-none d-md-block col-md-2">
                <h5>Решения</h5>
            </div>
            <div class="d-none d-md-block col-md-1 text-center">
                <h5 class="d-inline">Кол.</h5>
            </div>
            <div class="d-none d-md-block col-md-1 text-center">
                <h5 class="d-inline">Удалить</h5><a href="{% url 'offer-remove-item-all' %}" class="text-danger small"> (всё)</a>
            </div>
        </div>

        {% for product in products %}
        <div class="row border border-top-0 border-left-0 border-right-0 mb-3">
            <div class="col-12 col-md-2 m-text-center">
                <img src=" {% thumbnail product.images.first.image 150x150 crop='center center' %}" width="150px"
                    height="150px" alt="{{ product.title }}">
            </div>
            <div class="col-12 col-md-6">
                <a class="d-block" href="{{ product.get_absolute_url }}"><h4>{{ product.title }}</h4></a>
                <div class="mt-2">Серия: <b>{{ product.series }}</b></div>
                <div class="mb-2">Группа: <a href="{{ product.group.get_absolute_url }}">{{ product.group.title }}</a>
                </div>
                <p>{{ product.description }}</p>
            </div>
            <div class="col-12 col-md-2">
                {% for solution in product.solutions_set.all %}
                    <a href="{{ solution.get_absolute_url }}">{{ solution.industry }}, </a>
                {% empty %}
                    <span>Нет решений</span>
                {% endfor %}
            </div>
            <div class="col-12 col-md-1 text-center mb-3">
                <a href="{% url 'offer-inc-item' product.id %}"><i class="fas fa-caret-up"></i></a>
                <input type="text" class="count" name="" id="" value="{{ product.count }}">
                {% if product.count > 1 %}
                    <a href="{% url 'offer-dec-item' product.id %}"><i class="fas fa-caret-down"></i></a>
                {% endif %}
            </div>
            <div class="col-12 col-md-1 text-center mb-3 mt-4">
                <a href="{% url 'offer-remove-item' product.id %}" class="text-danger">
                    <i class="far fa-times-circle "></i>
                </a>
            </div>
        </div>
       
        {% endfor %}

        <div class="row d-flex justify-content-center">
            <a href="{% url 'offer-generate-pdf' %}" id="pdf_generate" class="button button-winona" >
                <i class="far fa-file-alt"></i> Получить     
            </a>
        </div>

        {% else %}
        <h4>Список пуст!</h4>
            <a href="{% url 'product-all' %}">Посмотреть продукцию</a>
        {% endif %}
    </div>
    
</section>

{% endblock content %}

{% block js_link %}
<script type="text/javascript" src="{{ BASE_DIR }}/static/common/js/parralax-breadcrumbs.js"></script>
<script type="text/javascript" src="{{ BASE_DIR }}/static/common/js/offer.js"></script>
{% endblock js_link %}