section.prices.bg-gray.padding-lg
    .container
        .row
            .col-12.wow-outer
                h3.text-center.wow.slideInUp Цены

        .row.mt-75
            .col-sm-12.col-lg-4.mr-b-20.wow-outer
                .box-price.wow.slideInRight
                    h5
                        a(href="#") Стандарт
                    p.pricing-minimal-price.mt-1 $49.00

                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
        
                    button.button.button-winona.mt-3(href="#") Узнать больше
            
            .col-sm-12.col-lg-4.mr-b-20.wow-outer
                .box-price.wow.slideInRight
                    h5
                        a(href="#") Стандарт
                    p.pricing-minimal-price.mt-1 $49.00

                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
        
                    button.button.button-winona.mt-3(href="#") Узнать больше

            .col-sm-12.col-lg-4.mr-b-20.wow-outer
                .box-price.wow.slideInRight
                    h5
                        a(href="#") Стандарт
                    p.pricing-minimal-price.mt-1 $49.00

                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
        
                    button.button.button-winona.mt-3(href="#") Узнать больше