header .top-menu {
  padding-top: 30px;
  padding-bottom: 30px;
}

header .top-menu .contact .icon {
  border-radius: 50%;
  border: 1px solid #e8e9ee;
  color: #0095d9;
  min-width: 48px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.slider {
  position: relative;
}

section.slider .item {
  height: 750px;
  background-size: cover;
}

section.slider .item .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

section.slider .item .container .description h1 {
  font-size: 55px;
  line-height: 1.17647;
  margin: 0;
}

section.slider .carousel-indicators {
  display: flex;
  position: absolute;
  justify-content: start;
  top: -100px;
  left: 15px;
  margin: 0;
}

section.slider .carousel-indicators span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  font-size: 16px;
}

section.slider .carousel-indicators span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0095d9;
  border-radius: 50%;
  transform: scale(0);
  z-index: -1;
  transition: transform 0.5s ease-out;
}

section.slider .carousel-indicators span.active {
  color: #fff;
}

section.slider .carousel-indicators span.active::before {
  transform: scale(1);
  transition: transform 0.5s ease-out;
}

section.slider .pagination ul {
  display: flex;
}

section.slider .pagination ul li {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

section.slider .pagination ul li:hover, section.slider .pagination ul li.active {
  transform: scale(1.5);
  background-color: #0095d9;
}

@media only screen and (max-width: 760px) {
  section.slider .item {
    height: 400px;
  }
  section.slider .item .container .description h1 {
    font-size: 35px;
    line-height: 1;
  }
  section.slider .item .container .description h1 span.font-weight-light {
    font-size: 25px;
    margin-top: 20px;
  }
  section.slider .carousel-indicators {
    top: -57px;
    justify-content: center;
  }
}

section.smallFeatures .box p {
  margin-top: 5px;
  line-height: 1.3em;
}

section.smallFeatures .box .icon {
  font-size: 36px;
  color: #0095d9;
}

@media only screen and (max-width: 760px) {
  section.smallFeatures .box {
    margin-bottom: 20px;
  }
}

section.services .item {
  margin-bottom: 15px;
}

section.services .item img {
 
}

section.services .item h5 a {
  color: #2d3742;
  font-weight: 300;
  transition: color 0.7s ease;
  line-height: 1em;
}

section.services .item h5 a:hover {
  color: #0095d9;
  transition: color 0.7s ease;
}

section.services .item a.blackout {
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

section.services .item a.blackout img {
  transform: scale(1);
  transition: transform 0.5s ease;
}

section.services .item a.blackout:hover img {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}


@media only screen and (max-width: 760px) {
  section.services .item {
    margin-bottom: 30px;
  }
  section.services .item a.blackout {
    display: flex;
    overflow: hidden;
    justify-content: center;
  }
  section.services .item a.blackout::before {
    display: none;
  }
  section.services .item img {
    width: auto;
  }
  section.services .item h5 a {
    width: 100%;
    text-align: center;
  }
}

section.prices .box-price {
  padding: 35px 30px;
  border: 1px solid #aeb1be;
  border-radius: 0;
  transition: border 0.5s ease;
}

section.prices .box-price h5 a {
  color: #2d3742;
  font-weight: 300;
}

section.prices .box-price:hover {
  border-color: #0095d9;
  transition: border 0.5s ease;
}

section.prices .box-price .pricing-minimal-price {
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0;
  color: #2d3742;
  font-size: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #aeb1be;
}

@media only screen and (max-width: 760px) {
  section.prices .box-price {
    margin-bottom: 30px;
  }
}

section.recall ul {
  display: flex;
  position: relative;
  margin-top: 20px;
}

section.recall ul li {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background: #e8e9ee;
  opacity: 1 !important;
  border: none;
}

section.recall ul li.active, section.recall ul li:hover {
  background: #0095d9;
  transform: scale(1.4);
}

section.recall .team .team_info .name {
  font-size: 20px;
  line-height: 1.2;
  color: #0095d9;
}

section.recall .team .team_info .dev {
  color: #aeb1be;
  font-size: 15px;
}

section.last-blog .post a {
  position: relative;
  display: block;
}

section.last-blog .post a.blackout {
  overflow: hidden;
  width: 100%;
  max-height: 360px;
}

section.last-blog .post a.blackout:before {
  content: '';
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.5s ease;
}

section.last-blog .post a.blackout:hover:before {
  background: rgba(45, 55, 66, 0.302);
  transition: background 0.5s ease;
}

section.last-blog .post h4 a {
  color: #0095d9;
}

section.last-blog .post ul {
  margin-top: 15px;
}

section.last-blog .post ul li {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #e8e9ee;
  border-right: 1px solid #e8e9ee;
}

section.last-blog .post ul li a {
  color: #0095d9;
}

section.last-blog .post ul li:first-child {
  border: none;
  padding-left: 0;
}

section.last-blog .post ul li:last-child {
  border: none;
  padding-right: 0;
}

section.contact-us #contact-us {
  position: relative;
  top: -193px;
}

section.contact-us .group-form {
  display: flex;
  flex-direction: column;
}

section.contact-us .group-form label {
  margin-bottom: 4px;
  font-size: 14px;
  color: #aeb1be;
  cursor: pointer;
}

section.contact-us .group-form label.error {
  color: #dc0000;
}

section.contact-us .group-form input, section.contact-us .group-form textarea {
  width: 100%;
  padding: 11px 19px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #2d3742;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #c5c6cd;
  outline: none;
  transition: border 0.6s ease;
}

section.contact-us .group-form input:focus, section.contact-us .group-form textarea:focus, section.contact-us .group-form input:hover, section.contact-us .group-form textarea:hover {
  border-color: #0095d9;
  transition: border 0.6s ease;
}

section.contact-us .group-form input::placeholder, section.contact-us .group-form textarea::placeholder {
  color: #aeb1be;
}

section.contact-us .group-form input.error, section.contact-us .group-form textarea.error {
  border-color: #dc0000;
}

section.contact ul.items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

section.contact ul.items li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-right: 30px;
  text-align: center;
  padding-left: 30px;
  border-right: 1px solid #deef7f;
}

section.contact ul.items li:first-child {
  border-left: 1px solid #deef7f;
}

section.contact ul.items li .icon {
  color: #0095d9;
}

section.alert-cta .button_view {
  justify-content: flex-start;
}

@media only screen and (max-width: 760px) {
  section.alert-cta .button_view {
    margin-top: 20px; 
    justify-content: center;
  }
}