section.recall ul {
  display: flex;
  position: relative;
  margin-top: 20px;
}
section.recall ul li {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background: #e8e9ee;
  opacity: 1 !important;
  border: none;
}
section.recall ul li.active,
section.recall ul li:hover {
  background: #0095d9;
  transform: scale(1.4);
}
section.recall .team .team_info .name {
  font-size: 20px;
  line-height: 1.2;
  color: #0095d9;
}
section.recall .team .team_info .dev {
  color: #aeb1be;
  font-size: 15px;
}
body {
  background-color: #fff;
  color: #74757f;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  font-weight: 300;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  transition: color 0.5s ease;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d3742;
}
.mt-75 {
  margin-top: 75px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-30 {
  margin-top: 30px;
}
.bg-gray {
  background-color: #f5f6fa;
}
.bg-primary-darker {
  background-color: #12394b;
}
.button {
  font-family: "Exo 2";
  overflow: hidden;
  padding: 13px 35px;
  font-size: 14px;
  line-height: 1.25;
  border: 2px solid;
  border-radius: 0;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.button-primar {
  color: #2d3742;
  background-color: transparent;
  border-color: #0095d9;
  transition: background 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.button-primar:hover {
  color: #fff;
  background-color: #0095d9;
  border-color: #0095d9;
  transition: background 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.button-winona {
  color: #fff;
  background-color: #0095d9;
  border-color: #0095d9;
  transition: background 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.button-winona:hover {
  color: #fff !important;
  background-color: #00537b;
  border-color: #00537b;
  transition: background 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.link-default,
.link-default:active,
.link-default:focus {
  color: #74757f;
  outline: none;
  transition: color 0.5s ease;
}
.icon-md {
  color: #0095d9;
  font-size: 1.3em;
}
.padding-lg {
  padding: 80px 0;
}
.padding-xs {
  padding: 40px 0;
}
.padding-xl {
  padding: 120px 0;
}
.text-main {
  color: #0095d9;
}
section h3 {
  font-size: 36px;
  font-weight: 300;
}
section h4 {
  font-weight: 300;
}
.wow-outer {
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 760px) {
  .padding-lg {
    padding: 30px 0;
  }
  .padding-xs {
    padding: 20px 0;
  }
  .button {
    padding: 10px 17px;
    font-size: 13px;
  }
}
section.service-info ul li {
  margin-bottom: 10px;
}
section.service-info .carousel.slide .carousel-inner .carousel-item {
  height: 350px;
  overflow: hidden;
  cursor: zoom-in;
}
section.service-info .carousel.slide .carousel-indicators {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 15px;
}
section.service-info .carousel.slide .carousel-indicators span {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  border-radius: 50%;
  cursor: pointer;
}
section.service-info .carousel.slide .carousel-indicators span:hover {
  font-weight: 600;
}
section.service-info .carousel.slide .carousel-indicators span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0095d9;
  border-radius: 50%;
  transform: scale(0);
  z-index: -1;
  transition: transform 0.5s ease-out;
}
section.service-info .carousel.slide .carousel-indicators span.active {
  color: #fff;
}
section.service-info .carousel.slide .carousel-indicators span.active::before {
  transform: scale(1);
  transition: transform 0.5s ease-out;
}
section.solutions .solutions-box {
  overflow: hidden;
  display: flex;
  position: relative;
  height: 256px;
  margin-bottom: 30px;
}
section.solutions .solutions-box:hover img {
  transform: scale(1.3);
  transition: transform 4s ease;
}
section.solutions .solutions-box img {
  width: 100%;
  transition: transform 2s ease;
}
section.solutions .solutions-box .solutions-caption {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  color: #fff;
  background: rgba(45,55,66,0.6);
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
section.solutions .solutions-box .solutions-caption a {
  position: relative;
  color: #fff;
  padding-bottom: 5px;
  transition: text-shadow 0.5s ease;
}
section.solutions .solutions-box .solutions-caption a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #0095d9;
  transform: scale(0);
  transition: transform 0.5s ease;
}
section.solutions .solutions-box .solutions-caption a:hover {
  text-shadow: 0px 0px 5px rgba(0,0,0,0.541);
  transition: text-shadow 0.5s ease;
}
section.solutions .solutions-box .solutions-caption a:hover::after {
  transform: scale(1);
  transition: transform 0.5s ease;
}
section.solutions .solutions-box .solutions-caption span.solutions-caption-title {
  font-size: 24px;
  line-height: 0.1em;
}
section.tabs {
  
}
section.tabs .tab-content {
  padding: 20px 0;
}
section.tabs .tab-content .tab-pane {
  padding: 0;
}
section.tabs .tab-content .tab-pane ul li {
  margin-bottom: 20px;
}
section.tabs ul.nav.nav-tabs li.nav-item {
  position: relative;
}
section.tabs ul.nav.nav-tabs li.nav-item a.nav-link {
  position: relative;
  padding: 10px 0;
  margin-right: 40px;
  font-size: 20px;
  color: #74757f;
  border: none;
  border-radius: 0;
  background: transparent;
  overflow: hidden;
}
section.tabs ul.nav.nav-tabs li.nav-item a.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  background: #0095d9;
  width: 100%;
  height: 1px;
  transform: scale(0);
  transition: transform 0.5s ease, color 0.5s ease;
}
section.tabs ul.nav.nav-tabs li.nav-item a.nav-link:hover {
  color: #2d3742;
}
section.tabs ul.nav.nav-tabs li.nav-item a.nav-link.active {
  color: #2d3742;
  transition: color 0.5s ease;
}
section.tabs ul.nav.nav-tabs li.nav-item a.nav-link.active::before {
  transform: scale(1);
  transition: transform 0.5s ease;
}
section.tabs ul.nav.nav-tabs li.nav-item a.nav-link.active {
  color: #2d3742;
}
@media only screen and (max-width: 760px) {
  .service-info .description {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  section.tabs ul.nav.nav-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    margin-bottom: 20px;
  }
  section.tabs .tab-content {
    padding: 20px 0;
  }
  section.tabs .tab-content .tab-pane {
    padding: 0;
  }
  section.tabs .tab-content .tab-pane ul li {
    margin-bottom: 10px;
  }
  section.solutions .solutions-box {
    margin-bottom: 10px;
  }
}
section.breadcrumbs {
  position: relative;
  background-size: cover;
  background-position-x: center;
  padding: 90px 0 60px 0px;
}
section.breadcrumbs::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#ffffff00, #00000096);
}
section.breadcrumbs .content {
  height: 250px;
  overflow: hidden;
}
section.breadcrumbs h1 {
  font-size: 60px;
  line-height: 1.17647;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0;
  color: #fff;
}
section.breadcrumbs h6 {
  padding-left: 70px;
  font-size: 20px;
  text-transform: uppercase;
  color: #aeb1be;
}
section.breadcrumbs h6::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.7em;
  width: 50px;
  border-bottom: 2px solid;
}
section.breadcrumbs ul {
  display: flex;
}
section.breadcrumbs ul li {
  margin-right: 25px;
}
section.breadcrumbs ul li::after {
  margin-left: 25px;
  content: '-';
}
section.breadcrumbs ul li:last-child::after {
  content: '';
}
section.breadcrumbs ul li a {
  font-weight: 400;
  color: #aeb1be;
}
section.breadcrumbs ul li a:hover {
  color: #fff;
  white-space: nowrap;
}
@media only screen and (max-width: 760px) {
  section.breadcrumbs ul li {
    margin-bottom: 5px;
    margin-right: 3px;
  }
  section.breadcrumbs ul li::after {
    margin-left: 3px;
  }
}
section.per-char .title p {
  margin: 30px 0;
}
section.per-char .box-light {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 25px;
  margin: 15px 10px;
  text-align: center;
}
section.per-char .box-light h4.box-light-title {
  color: #0095d9;
  margin-top: 10px;
}
