section.services.padding-lg
    .container
        .row.d-flex.justify-content-center
            .col-12
                .wow-outer
                    h3.text-center.wow.slideInDown Продукция

            .col-12.col-lg-8
                .wow-outer
                    p.text-center.mt-3.wow.slideInDown Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.

        .row.d-flex.justify-content-center.mt-45
            .col-sm-6.col-lg-3
                .item
                    a.blackout.wow-outer(href="#")
                        img.wow.slideInLeft(src="https://livedemo00.template-help.com/wt_67881/images/service-thumbnail-1-270x300.jpg" width="270" alt="#")
                    h5.d-flex.wow-outer
                        a.wow.slideInLeft(href="#") Продукция
    
            .col-sm-6.col-lg-3
                .item
                    a.blackout.wow-outer(href="#")
                        img.wow.slideInLeft(src="https://livedemo00.template-help.com/wt_67881/images/service-thumbnail-2-270x300.jpg" width="270" alt="#")
                    h5.d-flex.wow-outer
                        a.wow.slideInLeft(href="#") Продукция

            .col-sm-6.col-lg-3
                .item
                    a.blackout.wow-outer(href="#")
                        img.wow.slideInLeft(src="https://livedemo00.template-help.com/wt_67881/images/service-thumbnail-2-270x300.jpg" width="270" alt="#")
                    h5.d-flex.wow-outer
                        a.wow.slideInLeft(href="#") Продукция
    
            .col-sm-6.col-lg-3
                .item
                    a.blackout.wow-outer(href="#")
                        img.wow.slideInLeft(src="https://livedemo00.template-help.com/wt_67881/images/service-thumbnail-2-270x300.jpg" width="270" alt="#")
                    h5.d-flex.wow-outer
                        a.wow.slideInLeft(href="#") Продукция

        .row.d-flex.justify-content-center.mt-45
            .col-12.d-flex.justify-content-center.wow-outer
                button.button.button-primar.wow.slideInUp Показать все