@import '../../pages/colors.styl'
    
section.services
    .item
        img 
            width: 100%;
        h5 
            a
                margin-top 15px;
                color: $text-color-bold;
                font-weight: 300;
                
        a.blackout
            display: flex;
            overflow: hidden;

            &:before
                content: '';
                position: absolute;
                background: transparent;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: background .5s ease;

            &:hover
                &:before
                    background: #2d37424d;
                    transition: background .5s ease;

@media only screen and (max-width: 760px)
    section.services
        .item
            margin-bottom: 30px;