@import '../../pages/colors.styl'

header 
    .top-menu
        padding-top: 30px;
        padding-bottom: 30px;

        .contact .icon
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid #e8e9ee;
            color: $main-color;
            min-width: 48px;
            min-height: 48px;

    .navbar.main-menu
        top: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        background: $bg-color-menu
        z-index: 99;
        border-bottom: 1px solid #e8e9ee;

        .logo-box
            position: absolute;
            width: 100px;
            height: 66px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden; 
        
            .logo-dt
                position: absolute;
                left: -100px;
                transition: left .5s ease;

                &.hide
                    left: -100px;
                    transition: left 1s ease;

                &.show
                    left: 0;
                    transition: left 1s ease;

        .search
            color: $text-color-bold
            cursor: pointer
            position: relative;
            z-index: 99;
            transition: color .5s ease;

            &:hover
                color: $main-color;
                transition: color .5s ease;

        ul.navbar-nav
            width: 100%;
            display: flex;
            transition: padding-left 1s ease;

            &.hide
                padding-left: 0px;
                transition: padding-left 1s ease;

            &.show
                padding-left: 200px;
                transition: padding-left 1s ease;

            &.none-animation
                transition: none;

            li.nav-item
                position: relative;
                margin-right: 55px;
    
                a
                    span.chevron
                        font-size: 11px;
                        color: #454e58;
                        margin-left: 10px;

                        svg 
                            transform: rotate(0);
                            transition: color .5s ease, transform .5s ease;
                    
                &.dropdown
                    .dropdown-toggle::after 
                        display: none;                        

                &:hover
                    span.chevron
                        svg 
                            color: $main-color;
                            transform: rotate(180deg);
                            transition: color .5s ease, transform .5s ease;

                    .bg-black
                        display: block;

                    .dropdown-menu
                        visibility: visible;
                        opacity: 1;
                        transition: visibility 0.5s ease, opacity 0.5s ease;

                        .mega-menu-container
                            top: 0;
                            transition: top 0.5s ease;

                // .bg-black
                //     background: #000;
                //     position: fixed;
                //     width: 100%;
                //     height: 100%;
                //     left: 0;
                //     visibility: visible;
                //     opacity: 0.3;


                .dropdown-menu
                    display block
                    visibility: hidden;
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    border-radius: 0;
                    border: none;
                    overflow: hidden;
                    opacity: 0;
                    background: transparent;
                    height: fit-content;                    
                    transition: visibility 0.2s ease, opacity 0.2s ease 0.1s;

                    .mega-menu-container
                        position: relative;
                        top: -100%;
                        background: #fff;
                        border-bottom: 1px solid #cbced0;
                        transition: top 0.5s ease;

                        &::before
                            content: '';

                        .mega-menu-box
                            margin: 25px 0;

                            h5
                                text-transform: uppercase;
                                font-size: 16px;
                                
                                a
                                    color: $text-color-bold;
                                    transition: color 0.5s ease;

                                    &:hover
                                        color: $main-color;
                                        transition: color 0.5s ease;

                            ul
                                li
                                    margin: 0;
                                    padding: 0;
                                    line-height: 25px;

                                    &:hover
                                        span.icon
                                            color: $main-color;
                                            transition: color 0.5s ease;

                                    span.icon
                                        color: $text-color;
                                        margin-right: 10px;
                                        transition: color 0.5s ease;

                                    a
                                        color: $text-color;
                                        margin-left: 0px;
                                        transition: color 0.5s ease, margin-left 0.5s ease;


                                        &:hover
                                            margin-left: 3px;
                                            color: $main-color;
                                            transition: color 0.5s ease, margin-left 0.5s ease;
                        
                &.active
                        a.nav-link
                            border-bottom: 2px solid $main-color;
                            color: $main-color;
                a.nav-link
                    position: relative
                    color: $text-color-bold;
                    font-family: $text-family;
                    font-size: $text-size;
                    font-weight: 400;
                    padding: 25px 0px;
                    letter-spacing: .08em;
                    text-transform: uppercase;
                    border-bottom: 2px solid transparent;
                    transition: color .5s ease;

                    &::before
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: $main-color;
                        transform: scale(0);
                        transition: transform .5s ease;

                    &:hover
                        color: $main-color;
                
                        &::before
                            transform: scale(1);
                            transition: transform .5s ease;

    .bg-black
        display:none;
        position: fixed;
        left: 0;
        width: 100%;
        height: -webkit-fill-available;
        background: black;
        z-index: 9;


@media only screen and (max-width: 760px)

    header

        .container-mobile-menu
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
            width: 100%;

        .contact
            margin: 15px 0px;

        .navbar.main-menu
            ul.navbar-nav
                padding-left: 15px;
                padding-right: 15px;
                flex-direction: column;
                margin: 0;

                &.hide
                    padding-left: 15px;

                &.show
                    padding-left: 15px;

                
            li.nav-item
                width: 100%;

                &.dropdown 

                    &:active, &:hover
                        .dropdown-menu
                            height: 100%;
                            transition: height 0.2s ease;
                            display: block !important;

                            .mega-menu-container
                                top: 0;                            
                                transition: top 0.5s ease;

                .dropdown-menu
                    display: none !important;
                    height: auto;
                    position: relative !important;

                    .mega-menu-box
                        margin: 10px 0 !important;

                        ul
                            display: none;
                        
                &.active            
                    a
                        border-bottom: none !important;