section.breadcrumbs {
  /* background-image: url(/static/images/bg-1.jpg); */
  background-size: cover;
  background-position-x: center;
  padding: 60px 0;
}
section.breadcrumbs .content {
  height: 250px;
  overflow: hidden;
}
section.breadcrumbs h1 {
  font-size: 68px;
  line-height: 1.17647;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0;
  color: #fff;
}
section.breadcrumbs h6 {
  padding-left: 70px;
  font-size: 20px;
  text-transform: uppercase;
  color: #aeb1be;
}
section.breadcrumbs h6::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.7em;
  width: 50px;
  border-bottom: 2px solid;
}
section.breadcrumbs ul {
  display: flex;
}
section.breadcrumbs ul li {
  margin-right: 25px;
}
section.breadcrumbs ul li::after {
  margin-left: 25px;
  content: '>';
}
section.breadcrumbs ul li:last-child::after {
  content: '';
}
section.breadcrumbs ul li a {
  font-weight: 400;
  color: #aeb1be;
}
section.breadcrumbs ul li a:hover {
  color: #fff;
}
@media only screen and (max-width: 760px) {
  section.breadcrumbs ul li {
    margin-bottom: 5px;
    margin-right: 3px;
  }
  section.breadcrumbs ul li::after {
    margin-left: 3px;
  }
}
body {
  background-color: #fff;
  color: #74757f;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  font-weight: 300;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  transition: color 0.5s ease;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d3742;
}
.mt-75 {
  margin-top: 75px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-30 {
  margin-top: 30px;
}
.bg-gray {
  background-color: #f5f6fa;
}
.bg-primary-darker {
  background-color: #12394b;
}
.button {
  font-family: "Exo 2";
  overflow: hidden;
  padding: 13px 35px;
  font-size: 14px;
  line-height: 1.25;
  border: 2px solid;
  border-radius: 0;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.button-primar {
  color: #2d3742;
  background-color: transparent;
  border-color: #0095d9;
  transition: background 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.button-primar:hover {
  color: #fff;
  background-color: #0095d9;
  border-color: #0095d9;
  transition: background 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.button-winona {
  color: #fff;
  background-color: #0095d9;
  border-color: #0095d9;
  transition: background 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.button-winona:hover {
  color: #fff !important;
  background-color: #00537b;
  border-color: #00537b;
  transition: background 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.link-default,
.link-default:active,
.link-default:focus {
  color: #74757f;
  outline: none;
  transition: color 0.5s ease;
}
.icon-md {
  color: #0095d9;
  font-size: 1.3em;
}
.padding-lg {
  padding: 80px 0;
}
.padding-xs {
  padding: 40px 0;
}
.padding-xl {
  padding: 120px 0;
}
.text-main {
  color: #0095d9;
}
section h3 {
  font-size: 36px;
  font-weight: 300;
}
section h4 {
  font-weight: 300;
}
.wow-outer {
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 760px) {
  .padding-lg {
    padding: 30px 0;
  }
  .padding-xs {
    padding: 20px 0;
  }
  .button {
    padding: 10px 17px;
    font-size: 13px;
  }
}
section.about-us-img {
  background-color: #06070c;
  color: #fff;
  background-size: cover !important;
  background-position-x: center !important;
}
section.about-us-img h3 {
  color: #fff;
  font-weight: bold;
}
section.about-us-img h4 {
  color: #fff;
}
section.about-us-img p {
  margin-top: 20px;
  color: #aeb1be;
}
section.recall-big ul {
  display: flex;
  position: relative;
  margin-top: 20px;
  align-items: center;
  justify-content: start;
  margin: 15px 0;
}
section.recall-big ul li {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background: #e8e9ee;
  opacity: 1 !important;
  border: none;
}
section.recall-big ul li.active,
section.recall-big ul li:hover {
  background: #0095d9;
  transform: scale(1.4);
}
section.recall-big .team p {
  font-size: 24px;
  line-height: 1.33333;
  font-weight: 200;
  color: #2d3742;
}
section.recall-big .team span.quote {
  display: block;
  font-size: 30px;
  color: #aeb1be;
  margin-bottom: 10px;
}
section.recall-big .team .team_info .name {
  font-size: 20px;
  line-height: 1.2;
  color: #0095d9;
}
section.recall-big .team .team_info .dev {
  color: #aeb1be;
  font-size: 15px;
  margin: 0;
}
@media only screen and (max-width: 760px) {
  .team {
    margin-bottom: 30px;
  }
}
section.services .lists-row {
  display: flex;
  justify-content: center;
  align-content: center;
}
section.services .lists-row h4.title {
  border-bottom: 1px solid #0095d9;
  padding-bottom: 10px;
  display: inline-block;
  margin: 40px 0;
}
section.services .lists-row .item-old {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}
section.services .lists-row .item-old .box-images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  overflow: hidden;
}
section.services .lists-row .item-old a.box-images-hf {
  position: relative;
  width: 100%;
  height: 100%;
}
section.services .lists-row .item-old a.box-images-hf::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: background 0.5s ease;
}
section.services .lists-row .item-old a.box-images-hf:hover::after {
  background: rgba(45,55,66,0.3);
  transition: background 0.5s ease;
}
section.services .lists-row .item-old a.box-images-hf img {
  height: 100%;
}
section.services .lists-row .item-old a {
  display: block;
  color: #2d3742;
  font-size: 20px;
  margin-top: 10px;
  line-height: 20px;
}
section.services .lists-row .item-old a:hover {
  color: #0095d9;
}
section.services .lists-row .item {
  position: relative;
  overflow: hidden;
  height: 250px;
}
section.services .lists-row .item:hover img {
  transform: scale(1.4);
  transition: transform 4s ease;
}
section.services .lists-row .item img {
  position: relative;
  height: 100%;
  z-index: 1;
  transform: scale(1);
  transition: transform 2s ease;
}
section.services .lists-row .item .solutions-caption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.322);
  padding: 15px;
  display: flex;
  align-items: flex-end;
}
section.services .lists-row .item .solutions-caption a {
  position: relative;
  color: #fff;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 20px;
  transition: text-shadow 0.5s ease;
}
section.services .lists-row .item .solutions-caption a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #0095d9;
  transform: scale(0);
  transition: transform 0.5s ease;
}
section.services .lists-row .item .solutions-caption a:hover {
  text-shadow: 0px 0px 5px rgba(0,0,0,0.541);
  transition: text-shadow 0.5s ease;
}
section.services .lists-row .item .solutions-caption a:hover::after {
  transform: scale(1);
  transition: transform 0.5s ease;
}
@media only screen and (max-width: 760px) {
  section.services .item {
    margin-bottom: 30px;
  }
  section.services .item .box-images {
    height: 290px !important;
  }
  section.services .item-old {
    margin-bottom: 30px;
  }
  section.services .item-old .box-images {
    height: 290px !important;
  }
  section.services img {
    width: 100%;
  }
}
