section.slider
    #slider-top.carousel.slide(data-ride="carousel")
        .carousel-inner
            .carousel-item.active 
                .item.d-flex.align-items-center.bg1
                    .container
                        .row.description
                            .col-12
                                h1
                                    .wow-outer
                                        span.font-weight-bold.d-flex.wow.slideInDown(data-wow-delay="0.2s") Энергетика. Умнее.
                                
                                    .wow-outer
                                        span.font-weight-light.d-flex.wow.slideInDown(data-wow-delay="0.2s") Опыт самых ответственных инженеров для решения ваших задач.</span>
            

                                .wow-outer
                                    button.button.button-winona.wow.slideInDown(data-wow-delay="0.2s" href="#") Консультация

            .carousel-item
                .item.d-flex.align-items-center.bg2
                    .container
                        .row.description
                            .col-12
                                h1
                                    .wow-outer
                                        span.font-weight-bold.d-flex.wow.slideInDown(data-wow-delay="0.2s") Технологичный минимализм.
                                
                                    .wow-outer
                                        span.font-weight-light.d-flex.wow.slideInDown(data-wow-delay="0.2s") Качество функций всегда важнее их количества</span>
            

                                .wow-outer
                                    button.button.button-winona.wow.slideInDown(data-wow-delay="0.2s" href="#") Консультация


            .carousel-item
                .item.d-flex.align-items-center.bg3
                    .container
                        .row.description
                            .col-12
                                h1
                                    .wow-outer
                                        span.font-weight-bold.d-flex.wow.slideInDown(data-wow-delay="0.2s") Энергетика. Умнее.
                                
                                    .wow-outer
                                        span.font-weight-light.d-flex.wow.slideInDown(data-wow-delay="0.2s") Опыт самых ответственных инженеров для решения ваших задач.</span>
            

                                .wow-outer
                                    button.button.button-winona.wow.slideInDown(data-wow-delay="0.2s" href="#") Консультация

        .container
            .row
                .col-12
                    .carousel-indicators
                        span.active(data-target="#slider-top" data-slide-to="0") 01
                        span(data-target="#slider-top" data-slide-to="1") 02
                        span(data-target="#slider-top" data-slide-to="2") 03