{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <link
    href="https://fonts.googleapis.com/css?family=Cuprum|Exo+2:100,100i,200,200i,300,300i,400|PT+Sans|PT+Sans+Narrow&amp;amp;subset=cyrillic"
    rel="stylesheet">{% render_block "css" %}

  <title>{% block title %}This is my new project home page{% endblock title %}</title>

  <link href="{{ BASE_DIR }}/static/css/common.css" rel="stylesheet">

  {% block style_link %} {% endblock style_link %}

</head>

<body>

  {% cms_toolbar %}

  {% block content %}{% endblock content %}

  {% static_placeholder "Footer " %}  

  {% render_block "js" %}
  <script type="text/javascript" src="{{ BASE_DIR }}/static/js/common.js"></script>
  <script type="text/javascript" src="{{ BASE_DIR }}/static/js/index.js"></script>

  {% block js_link %}{% endblock js_link %}

</body>

</html>