{% extends "base.html" %}
{% load cms_tags %}

{% block title %} Главная {% endblock title %}
{% block style_link %} <link href="{{ BASE_DIR }}/static/common/css/index.css" rel="stylesheet"> {% endblock style_link %}

{% block content %}

<header>

  {% placeholder "Menu Bar" %}

  {% placeholder "NavBar" %}

</header>

{% placeholder "Slider header" %}

{% placeholder "About Us" %}

{% placeholder "Small Features" %}

{% placeholder "Alert Cta" %}

{% placeholder "Produc Section" %}

{% placeholder "Price Section" %}

{% placeholder "Recall Section" %}

{% placeholder "Alert Mdl" %}

{% placeholder "Last Blog" %}

{% placeholder "Contact Us" %}

{% placeholder "Contact" %}

{% endblock content %}

<!-- 
{% block js_link %} <script type="text/javascript" src="{{ BASE_DIR }}/static/js/index.js"></script> {% endblock js_link %} -->