{% extends "base.html" %}
{% load cms_tags %}

{% block title %} Главная {% endblock title %}

{% block style_link %}
<link href="{{ BASE_DIR }}/static/common/css/index.css" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />  
{% endblock style_link %}

{% block content %}
<header>
  {% placeholder "Menu Bar" %}
  {% placeholder "NavBar" %}
</header>
{% placeholder "Slider header" %}
{% placeholder "About Us" %}
{% placeholder "Small Features" %}
{% placeholder "Alert Cta" %}
{% placeholder "Produc Section" %}
{% placeholder "Solution Section" %}
{% placeholder "Recall" %}
{% placeholder "Alert Mdl" %}
{% placeholder "Last Blog" %}
{% placeholder "Contact Us" %}
{% placeholder "Contact" %}
{% endblock content %}

{% block js_link %}
<script type="text/javascript" src="{{ BASE_DIR }}/static/common/js/index.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock js_link %}