{% extends "base.html" %}
{% load cms_tags %}
{% load thumbnail %}

{% block title %} Продукты {% endblock title %}
{% block style_link %}
<link href="{{ BASE_DIR }}/static/css/service.css" rel="stylesheet"> {% endblock style_link %}

{% block content %}

<body>
  <header>
    {% static_placeholder "NavBar" %}
  </header>

  <section class="breadcrumbs"
    style="background-image: url('{% thumbnail product.group.img 1920x395 crop='center center' %}')">
    <div class="container">
      <div class="row content d-flex align-items-center">
        <div class="col-12">
          <div class="wow-outer">
            <h6 class="wow fadeInDown">{{ product.group.title }}</h6>
          </div>
          <div class="wow-outer">
            <h1 class="wow fadeInDown" data-wow-delay="0.4s">{{ product.title }}</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 wow-outer">
          <ul class="wow fadeInDown" data-wow-delay="0.8s">
            <li> <a href="/">Главная</a></li>
            <li> <a href="{% url 'product-all' %}">Продукция</a></li>
            <li> <a href="{{ product.group.get_absolute_url }}">{{ product.group.title }}</a></li>
            <li> <a href="{{ product.get_absolute_url }}">{{ product.title }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="service-info padding-lg">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-sm-12 col-lg-6 wow-outer d-flex align-items-center">
          <div class="carousel overflow-hidden slide wow fadeInRight" id="service-view" data-ride="carousel"
            data-interval="false">
            <div class="carousel-indicators"><span class="active" data-target="#service-view"
                data-slide-to="0">01</span></div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="h-100 d-flex justify-content-center"><img class="h-100"
                    src="{% thumbnail product.img 540x350 crop='center center' %}" alt="{{ product.title }}"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-lg-5 wow-outer description">
          <h3 class="wow slideInDown" data-wow-duration="1.5s">{{ product.title }}</h3>
          <div class="wow-outer mt-3">
            <h5 class="wow slideInDown" data-wow-duration="1.5s"> Серия {{ product.series }}</h5>
          </div>
          <div class="wow-outer mt-3">
            <div class="wow slideInDown" data-wow-duration="1.5s">
              {{ product.description }}
            </div>
          </div>
          <div class="wow-outer mt-3">
            <button class="button button-winona mt-3 wow slideInDown" href="#" data-wow-duration="1.5s">Где купить
              ?</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="per-char padding-lg bg-gray">
    <div class="container">

      <div class="row title d-flex justify-content-center">
        <div class="col-12">
          <div class="wow-outer">
            <h3 class="text-center wow slideInDown">Технические характеристики {{ product.title }}</h3>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="wow-outer">
            <p class="text-center wow slideInDown">Главные преимущества продукта</p>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">

        {% for specification in specifications %}
        <div class="col-12 col-lg-4 wow-outer">
          <div class="box-light wow fadeInLeft" data-wow-duration="0.8s"><img src="{{ specification.icon.url }}"
              width="70px" alt="#">
            <h4 class="box-light-title">{{ specification.title }}</h4>
            <p>{{ specification.description }}</p>
          </div>
        </div>
        {% empty %}
        <h3>Пусто!</h3>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="tabs padding-xs">
    <div class="container">
      <div class="row">
        <div class="col-12 wow-outer">
          <h3 class="text-center wow slideInDown">Технические характеристики {{ product.title }}</h3>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12 wow-outer">
          <ul class="nav nav-tabs wow fadeInDown" data-wow-duration="1.5s">
            {% if product.description_specification %}
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Описание</a></li>
            {% endif %}
            {% if product.spec_specification %}
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu1">Технические характеристики</a></li>
            {% endif %}
            {% if product.legend_specification %}
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu2">Условные обозначения</a></li>
            {% endif %}
          </ul>
          <div class="tab-content wow-outer">
            <div class="container tab-pane active wow-outer" id="home">
              <div class="wow fadeInLeft">
                {{ product.description_specification }}
              </div>
            </div>
            <div class="container tab-pane fade" id="menu1">
              {{ product.spec_specification }}
            </div>
            <div class="container tab-pane fade" id="menu2">
              {{ product.legend_specification }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="solutions padding-lg bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-12 wow-outer">
          <h3 class="text-center wow slideInDown">Решения на основе изделия</h3>
        </div>
      </div>
      <div class="row mt-5 justify-content-center">

        {% for solution in solutions %}
        <div class="col-12 col-md-4 wow-outer">
          <div class="solutions-box wow fadeInLeft"><img src="{% thumbnail solution.img 350x256 crop='center center' %}"
              alt="{{ solution.industry }}">
            <div class="solutions-caption">
              <a href="{{ solution.get_absolute_url }}">
                <span class="solutions-caption-title">{{ solution.industry }}</span>
              </a>
              <!-- <a href="#"><span class="solutions-caption-text">Система телемеханики</span></a> -->
            </div>
          </div>
        </div>
        {% empty %}
        <h3>Пусто!</h3>
        {% endfor %}
      </div>
    </div>
  </section>

  {% endblock content %}

  {% block js_link %}
  <script type="text/javascript" src="{{ BASE_DIR }}/static/js/service.js"></script> {% endblock js_link %}