{% extends "base.html" %}
{% load cms_tags %}
{% load thumbnail %}

{% block title %} Продукты {% endblock title %}
{% block style_link %}
<link href="{{ BASE_DIR }}/static/css/services-list.css" rel="stylesheet"> {% endblock style_link %}

{% block content %}

<body>
    <header>
        {% static_placeholder "NavBar" %}
    </header>

    <section class="breadcrumbs"
        style="background-image: url(/media/images/product/bg-1_HpJS1LS.jpg.1920x395_q85_crop-center%20center.jpg)">
        <div class="container">
            <div class="row content d-flex align-items-center">
                <div class="col-12">
                    <div class="wow-outer">
                        <h6 class="wow fadeInDown">Продукция</h6>
                    </div>
                    <div class="wow-outer">
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">Продукция</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 wow-outer">
                    <ul class="wow fadeInDown" data-wow-delay="0.8s">
                        <li> <a href="/">Главная</a></li>
                        <li> <a href="{% url 'product-all' %}">Продукция</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="services padding-lg">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <div class="wow-outer">
                        <h3 class="text-center wow slideInDown">Продукция</h3>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="wow-outer">
                        <p class="text-center mt-3 wow slideInDown">Давно выяснено, что при оценке дизайна и композиции
                            читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает
                            более или менее стандартное заполнение шаблона.</p>
                    </div>
                </div>
            </div>
            <div class="row lists-row">
                {% for groupProduct in group_products %}

                    <div class="col-12 wow-outer text-center">
                        <h4 class="title wow fadeInDown">{{ groupProduct.title }}</h4>
                    </div>

                    {% for product in groupProduct.product_set.all %}

                    <div class="col-sm-6 col-lg-3 wow-outer">
                        <div class="item-old wow fadeInLeft">
                            <div class="box-images">
                                <a class="box-images-hf" href="{{ product.get_absolute_url }}">
                                    <img src="{% thumbnail product.img 255x250 crop='center center' %} "
                                        alt="{{ product.title }}">
                                </a>
                            </div>
                            <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                        </div>
                    </div>

                    {% empty %}
                    <span>Пусто!</span>
                    {% endfor %}

                {% empty %}
                <span>Пусто!</span>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endblock content %}

    {% block js_link %} <script type="text/javascript" src="{{ BASE_DIR }}/static/js/services-list.js"></script>{% endblock js_link %}