{% extends "base.html" %}
{% load cms_tags %}
{% load thumbnail %}

{% block title %} Продукты {% endblock title %}
{% block style_link %} <link href="{{ BASE_DIR }}/static/css/services-list.css" rel="stylesheet"> {% endblock style_link %}

{% block content %}

<body>
  <header>
      {% static_placeholder "NavBar" %}
  </header>

  <section class="breadcrumbs" style="background-image: url({% thumbnail group_product.img 1920x395 crop='center center' %} )">
    <div class="container">
      <div class="row content d-flex align-items-center">
        <div class="col-12">
          <div class="wow-outer">
            <h6 class="wow fadeInDown">Продукция</h6>
          </div>
          <div class="wow-outer">
            <h1 class="wow fadeInDown" data-wow-delay="0.4s">{{ group_product.title }}</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 wow-outer">
          <ul class="wow fadeInDown" data-wow-delay="0.8s">
            <li> <a href="/">Главная</a></li>
            <li> <a href="{% url 'product-all' %}">Продукция</a></li>
            <li> <a href="{{ group_product.get_absolute_url }}">{{ group_product.title }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  {% static_placeholder "AboutUs new " %}  

  {% static_placeholder "Product Full " %} 

  {% static_placeholder "About Us Img " %} 

  <section class="recall-big padding-lg">
    <div class="container">
      <div class="row">
        <div class="col-12 wow-outer">
          <h3 class="text-center wow slideInUp">Отзывы</h3>
        </div>
      </div>
      <div class="carousel slide wow-outer mt-45" id="slider-team" data-ride="carousel" data-interval="false">
        <div class="carousel-inner wow fadeInDown">
          <div class="carousel-item active">
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-lg-6">
                <div class="team"><span class="quote"><i class="fas fa-quote-left"></i></span>
                  <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem
                    Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.</p>
                  <div class="title d-flex">
                    <div class="avatar"><img class="rounded-circle" src="images/avatar-1.jpg" width="50" alt=""></div>
                    <div class="team_info ml-3"><span class="name">Гарольд Барнетт</span>
                      <p class="dev">Региональный управляющий</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="team"><span class="quote"><i class="fas fa-quote-left"></i></span>
                  <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem
                    Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.</p>
                  <div class="title d-flex">
                    <div class="avatar"><img class="rounded-circle" src="images/avatar-2.jpg" width="50" alt=""></div>
                    <div class="team_info ml-3"><span class="name">Гарольд Барнетт</span>
                      <p class="dev">Региональный управляющий</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-lg-6">
                <div class="team"><span class="quote"><i class="fas fa-quote-left"></i></span>
                  <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem
                    Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.</p>
                  <div class="title d-flex">
                    <div class="avatar"><img class="rounded-circle" src="images/avatar-2.jpg" width="50" alt=""></div>
                    <div class="team_info ml-3"><span class="name">Гарольд Барнетт</span>
                      <p class="dev">Региональный управляющий</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="team"><span class="quote"><i class="fas fa-quote-left"></i></span>
                  <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem
                    Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.</p>
                  <div class="title d-flex">
                    <div class="avatar"><img class="rounded-circle" src="images/avatar-3.jpg" width="50" alt=""></div>
                    <div class="team_info ml-3"><span class="name">Гарольд Барнетт</span>
                      <p class="dev">Региональный управляющий</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="carousel-indicators">
          <li class="active" data-target="#slider-team" data-slide-to="0"></li>
          <li data-target="#slider-team" data-slide-to="1"></li>
        </ul>
      </div>
    </div>
  </section>

  {% endblock content %}

  {% block js_link %} <script type="text/javascript" src="{{ BASE_DIR }}/static/js/services-list.js"></script>{% endblock js_link %}