<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Cuprum|Exo+2:100,100i,200,200i,300,300i,400|PT+Sans|PT+Sans+Narrow&amp;amp;subset=cyrillic" rel="stylesheet">
    <title>Services page
    </title>
  <link href="./css/common.css" rel="stylesheet"><link href="./css/service.css" rel="stylesheet"></head>
  <body>
    <header>
            <div class="navbar navbar-expand-md main-menu fixed-top">
              <div class="container">
                <div class="container-mobile-menu">
                  <button class="navbar-toggler" type="button" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars icon-md"></i></button><img class="d-md-none" src="images/logo.svg" height="25" alt="logo">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-top-mobile" aria-controls="menu-top-mobile" aria-expanded="false" aria-label="Toggle navigation 2"><i class="fas fa-ellipsis-v icon-md"></i></button>
                </div>
                <div class="d-md-none d-xs-none">
                  <div class="collapse navbar-collapse" id="menu-top-mobile">
                    <div class="container pb-3">
                      <div class="row">
                        <div class="col-12">
                          <div class="contact d-flex align-items-center">
                            <div class="icon"><i class="fas fa-phone icon-md"></i></div>
                            <div class="info ml-3">
                              <ul>
                                <li><a class="link-default" href="tel:#">1-800-1234-567</a></li>
                                <li><a class="link-default" href="tel:#">1-800-1234-567</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="contact d-flex align-items-center">
                            <div class="icon"><i class="fas fa-map-marker-alt icon-md"></i></div>
                            <div class="info ml-3">
                              <ul>
                                <li><a class="link-default" href="#">Улица Правды 30, Витебск 210029</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                          <button class="button button-primar">Заказать звонок</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent"><a class="logo-box" href="./index.html"><img class="logo-dt d-none d-md-block show" src="images/logo.svg" height="20" alt="logo"></a>
                  <ul class="navbar-nav mr-auto show none-animation">
                    <li class="nav-item"><a class="nav-link" href="#">Решения</a></li>
                    <li class="nav-item dropdown position-static"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="./services-list.html">Продукция<span class="chevron"><i class="fas fa-chevron-down"></i></span></a>
                      <div class="dropdown-menu">
                        <div class="mega-menu-container">
                          <div class="container">
                            <div class="row">
                              <div class="col-12 col-md-3">
                                <div class="mega-menu-box">
                                  <h5> <a href="./service.html">Контроллеры</a></h5>
                                  <ul>
                                    <li> <span class="icon"><i class="fas fa-angle-right"></i></span><a href="./service.html">UlC-02</a></li>
                                    <li><span class="icon"><i class="fas fa-angle-right"></i></span><a href="./service.html">UlC-03</a></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-12 col-md-3">
                                <div class="mega-menu-box">
                                  <h5> <a href="./service.html">Устройства связи</a></h5>
                                  <ul>
                                    <li><span class="icon"><i class="fas fa-angle-right"></i></span><a href="./service.html">3G-модем</a></li>
                                    <li><span class="icon"><i class="fas fa-angle-right"></i></span><a href="./service.html">3П-роутер</a></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-12 col-md-3">
                                <div class="mega-menu-box">
                                  <h5> <a href="./service.html">Диспетчерскаие щиты</a></h5>
                                  <ul>
                                    <li><span class="icon"><i class="fas fa-angle-right"></i></span><a href="./service.html">Диспетчерский щит</a></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-12 col-md-3">
                                <div class="mega-menu-box">
                                  <h5> <a href="./service.html">Оборудование АУ</a></h5>
                                  <ul>
                                    <li><span class="icon"><i class="fas fa-angle-right"></i></span><a href="./service.html">Реклоузеры</a></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-12 col-md-3">
                                <div class="mega-menu-box">
                                  <h5> <a href="./service.html">Светильники</a></h5>
                                  <ul>
                                    <li><span class="icon"><i class="fas fa-angle-right"></i></span><a href="./service.html">Светильники уличного освещения</a></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-12 col-md-3">
                                <div class="mega-menu-box">
                                  <h5> <a href="./service.html">Контрольно-измерительные приборы</a></h5>
                                  <ul>
                                    <li><span class="icon"><i class="fas fa-angle-right"></i></span><a href="./service.html">Счётчик 1Ф электрической энергии</a></li>
                                    <li><span class="icon"><i class="fas fa-angle-right"></i></span><a href="./service.html">Счётчик 1Ф технического учёта</a></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-12 col-md-3">
                                <div class="mega-menu-box">
                                  <h5> <a href="./service.html">Аналогово-цифровые преобразователи</a></h5>
                                  <ul>
                                    <li><span class="icon"><i class="fas fa-angle-right"></i></span><a href="./service.html">Аналогово-цифровые преобразователи</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">О бренде</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
                  </ul><span class="nav-item search d-none d-md-block"><i class="fas fa-search"></i></span>
                </div>
              </div>
            </div>
            <div class="bg-black"></div>
      <!--+nav-bar('show')-->
    </header>
        <section class="breadcrumbs">
          <div class="container">
            <div class="row content d-flex align-items-center">
              <div class="col-12">
                <div class="wow-outer">
                  <h6 class="wow fadeInDown">Контроллеры</h6>
                </div>
                <div class="wow-outer">
                  <h1 class="wow fadeInDown" data-wow-delay="0.4s">ulc-02</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 wow-outer">
                <ul class="wow fadeInDown" data-wow-delay="0.8s">
                  <li> <a href="./services-list.html">Главная</a></li>
                  <li> <a href="./services-list.html">Продукция</a></li>
                  <li> <a href="./services-list.html">ULC-02</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
    <section class="service-info padding-lg">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-sm-12 col-lg-6 wow-outer">
            <div class="carousel overflow-hidden slide wow fadeInRight" id="service-view" data-ride="carousel" data-interval="false">
              <div class="carousel-indicators"><span class="active" data-target="#service-view" data-slide-to="0">01</span><span data-target="#service-view" data-slide-to="1">02</span><span data-target="#service-view" data-slide-to="2">03</span></div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="h-100 d-flex justify-content-center"><img class="h-100" src="https://www.owen.ru/uploads/2/pr110.jpg" alt="img"></div>
                </div>
                <div class="carousel-item">
                  <div class="h-100 d-flex justify-content-center"><img class="h-100" src="https://www.owen.ru/uploads/2/plk100.png" alt="img"></div>
                </div>
                <div class="carousel-item">
                  <div class="h-100 d-flex justify-content-center"><img class="h-100" src="https://www.owen.ru/uploads/83/plk110-30_m02.png" alt="img"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-5 wow-outer description">
            <h3 class="wow slideInDown" data-wow-duration="1.5s">ULC-02</h3>
            <div class="wow-outer mt-3">
              <h5 class="wow slideInDown" data-wow-duration="1.5s"> Серия КСО-298</h5>
            </div>
            <div class="wow-outer mt-3">
              <p class="text-justify wow slideInDown" data-wow-duration="1.5s">Щиты (панели) ЩО-70 предназначены для комплектования распределительных устройств (РУ) переменного трехфазного тока частотой 50 Гц в сетях с глухозаземленной нейтралью, напряжением 0,4 кВ и служат для приема и распределения электроэнергии, защиты от перегрузок и токов короткого замыкания, и используются для установки в распределительных сетях как в четырехпроводном, так и пятипроводном исполнениях с рабочим нулевым и защитным заземляющим проводниками.</p>
            </div>
            <div class="wow-outer mt-3">
              <button class="button button-winona mt-3 wow slideInDown" href="#" data-wow-duration="1.5s">Где купить ?</button>
            </div>
          </div>
        </div>
      </div>
    </section>
<section class="per-char padding-lg bg-gray">
  <div class="container">
    <div class="row title d-flex justify-content-center">
      <div class="col-12">
        <div class="wow-outer">
          <h3 class="text-center wow slideInDown">Технические характеристики ULC-02</h3>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <div class="wow-outer">
          <p class="text-center wow slideInDown">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.</p>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-4 wow-outer">
        <div class="box-light wow fadeInLeft" data-wow-duration="0.4s"><img src="https://www.owen.ru/uploads/26/-20.svg" width="70px" alt="#">
          <h4 class="box-light-title">Интерфейс RS-485</h4>
          <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
        </div>
      </div>
      <div class="col-12 col-lg-4 wow-outer">
        <div class="box-light wow fadeInLeft" data-wow-duration="0.8s"><img src="https://www.owen.ru/uploads/34/modbus.svg" width="70px" alt="#">
          <h4 class="box-light-title">Интерфейс RS-485</h4>
          <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
        </div>
      </div>
      <div class="col-12 col-lg-4 wow-outer">
        <div class="box-light wow fadeInLeft" data-wow-duration="1s"><img src="https://www.owen.ru/uploads/26/ip20.svg" width="70px" alt="#">
          <h4 class="box-light-title">Интерфейс RS-485</h4>
          <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
        </div>
      </div>
      <div class="col-12 col-lg-4 wow-outer">
        <div class="box-light wow fadeInLeft" data-wow-duration="0.4s"><img src="https://www.owen.ru/uploads/26/di.svg" width="70px" alt="#">
          <h4 class="box-light-title">Интерфейс RS-485</h4>
          <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
        </div>
      </div>
      <div class="col-12 col-lg-4 wow-outer">
        <div class="box-light wow fadeInLeft" data-wow-duration="0.8s"><img src="https://www.owen.ru/uploads/27/rs485.svg" width="70px" alt="#">
          <h4 class="box-light-title">Интерфейс RS-485</h4>
          <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
        </div>
      </div>
      <div class="col-12 col-lg-4 wow-outer">
        <div class="box-light wow fadeInLeft" data-wow-duration="1.2s"><img src="https://www.owen.ru/uploads/141/ikonka_oblako-98.svg" width="70px" alt="#">
          <h4 class="box-light-title">Интерфейс RS-485</h4>
          <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
        </div>
      </div>
    </div>
  </div>
</section>
    <section class="alert-cta bg-primary-darker padding-xs"> 
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8 d-flex justify-content-center align-items-center wow-outer">
            <h4 class="text-white text-center wow slideInRight"> <span>Полное </span><span class="font-weight-bold">техническое </span><span>описание изделия</span></h4>
          </div>
          <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center mr-t-20 wow-outer">
            <button class="button button-winona wow slideInLeft more-button">подробнее<i class="ml-3 fas fa-chevron-down"></i></button>
          </div>
        </div>
      </div>
    </section>
    <section class="tabs padding-xs">
      <div class="container">
        <div class="row">
          <div class="col-12 wow-outer">
            <h3 class="text-center wow slideInDown">Технические характеристики ULC-02</h3>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 wow-outer">
            <ul class="nav nav-tabs wow fadeInDown" data-wow-duration="1.5s">
              <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Описание</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu1">Технические характеристики</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu2">Условные обозначения</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu3">Документация и ПО</a></li>
            </ul>
            <div class="tab-content wow-outer">
              <div class="container tab-pane active" id="home">
                <ul class="mt-3">
                  <li class="wow fadeInLeft" data-wow-delay="0.2s"><i class="fas fa-chevron-right mr-3 text-main"></i><span>Корпус и большинство деталей выполнены из оцинкованной стали, обеспечивающей необходимую коррозионную стойкость.</span></li>
                  <li class="wow fadeInLeft" data-wow-delay="0.4s"><i class="fas fa-chevron-right mr-3 text-main"></i><span>Простота и надежность конструкции.</span></li>
                  <li class="wow fadeInLeft" data-wow-delay="0.6s"><i class="fas fa-chevron-right mr-3 text-main"></i><span>В соответствии с требованиями ГОСТ и ПУЭ безопасность эксплуатации КСО-298 обеспечивается системой встроенных механических блокировок.</span></li>
                  <li class="wow fadeInLeft" data-wow-delay="0.8s"><i class="fas fa-chevron-right mr-3 text-main"></i><span>Простота монтажа и наладки обеспечиваются удобным доступом к местам крепления шкафов КСО-298, кабельных и шинных присоединений.</span></li>
                  <li class="wow fadeInLeft" data-wow-delay="1s"><i class="fas fa-chevron-right mr-3 text-main"></i><span>Высокая надежность конструкции и входящего в состав КСО-298 оборудования сводит к минимуму затраты на ремонт и техническое обслуживание.</span></li>
                  <li class="wow fadeInLeft" data-wow-delay="1.2s"><i class="fas fa-chevron-right mr-3 text-main"></i><span>Возможность применения силовых выключателей отечественного и зарубежного производства обеспечивает гибкость решений.</span></li>
                  <li class="wow fadeInLeft" data-wow-delay="1.4s"><i class="fas fa-chevron-right mr-3 text-main"></i><span>Смотровые окна и дополнительное освещение камеры обеспечивают возможность визуального контроля внутреннего пространства КСО-298.</span></li>
                </ul>
              </div>
              <div class="container tab-pane fade" id="menu1">
                <h5>Технические характеристики</h5>
                <p>Наименование параметра	Значение параметра Номинальный ток главных цепей и сборных шин, А	600; 1000 Номинальный ток отключения выключателя, кА	20 Номинальное напряжение, кВ	6 (10) Номинальное напряжение вспомогательных сетей, В	AD / CD 110В, 220В Степень защиты по ГОСТ 14254-96	IP31 Масса камер с выключателем (не более), кг	250 Габаритные размеры, мм, не более: ширина</p>
              </div>
              <div class="container tab-pane fade" id="menu2">
                <h5>КСО-298-ENRG-ХХХХ-ХХ-ХХХ «Энергомера»</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
              </div>
              <div class="container tab-pane fade" id="menu3">
                <h5>Документация</h5>
                <p> Декларация о соответствии <a href="#">PDF 469 Kb</a></p>
                <p>Опросный лист<a href="#">Zip 142 Kb</a></p>
                <p>Сетка главных цепей<a href="#">Zip 861 Kb</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="solutions padding-lg bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-12 wow-outer">
            <h3 class="text-center wow slideInDown">Решения на основе изделия</h3>
          </div>
        </div>
        <div class="row mt-5 justify-content-center">
          <div class="col-12 col-md-4 wow-outer">
            <div class="solutions-box wow fadeInLeft"><img src="images/service-1.jpg" alt="#">
              <div class="solutions-caption"><a href="#"><span class="solutions-caption-title">Энергетика</span></a><a href="#"><span class="solutions-caption-text">Система телемеханики</span></a></div>
            </div>
          </div>
          <div class="col-12 col-md-4 wow-outer">
            <div class="solutions-box wow fadeInLeft"><img src="images/service-2.jpg" alt="#">
              <div class="solutions-caption"><a href="#"><span class="solutions-caption-title">Промышленность</span></a><a href="#"><span class="solutions-caption-text">Промышленность</span></a></div>
            </div>
          </div>
          <div class="col-12 col-md-4 wow-outer">
            <div class="solutions-box wow fadeInLeft"><img src="images/service-3.jpg" alt="#">
              <div class="solutions-caption"><a href="#"><span class="solutions-caption-title">Офисы и административные здания</span></a><a href="#"><span class="solutions-caption-text">Умное здание</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="padding-lg">
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <h4>Давно выяснено</h4>
      <p class="mt-30">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации.</p>
    </div>
    <div class="col-12 col-lg-4">
      <h4>Где его взять?</h4>
      <p class="mt-30 mb-1"><a href="#">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда</a></a></p>
      <ul class="d-flex">
        <li>Гарольд Барнетт</li>
        <li> <a class="ml-3" href="#">2 дня назад</a></li>
      </ul>
      <p class="mb-1 mt-30"><a href="#">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда</a></a></p>
      <ul class="d-flex">
        <li>Гарольд Барнетт</li>
        <li> <a class="ml-3" href="#">2 дня назад</a></li>
      </ul>
    </div>
    <div class="col-12 col-lg-4">
      <h4>Галерея</h4>
      <div class="container mt-30">
        <div class="row">
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
          <div class="col-3 gallery-item"><a href="#"><img src="https://livedemo00.template-help.com/wt_67881/images/galley-footer-1-150x150.jpg" alt="#"></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col-12 col-lg-10">
      <ul class="bottom-menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Продукция</a></li>
        <li><a href="#">Решения</a></li>
        <li><a href="#">О бренде</a></li>
      </ul>
    </div>
    <div class="col-12 col-lg-2">
      <ul class="social-icon d-flex justify-content-between">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-google"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="footer-advanced"><a class="mr-t-20" href="#"><img src="images/logo_white.svg" height="39"></a><span class="mr-t-20">© 2019 Все права защищены.</span></div>
  </div>
</div>
    </footer>
  <script type="text/javascript" src="js/common.js"></script><script type="text/javascript" src="js/service.js"></script></body>
</html>