{% extends "base.html" %}
{% load cms_tags %}
{% load thumbnail %}
{% load main_filter_extras %}

{% block title %} Тест {% endblock title %}
{% block style_link %}
<link href="{{ BASE_DIR }}/static/css/solution.css" rel="stylesheet"> {% endblock style_link %}

{% block content %}

<body>
  <header>
    {% static_placeholder "NavBar" %}
  </header>

  <section class="breadcrumbs"
    style="background-image: url('{% thumbnail solution.img 1920x395 crop='center center' %}')">
    <div class="container">
      <div class="row content d-flex align-items-center">
        <div class="col-12">
          <div class="wow-outer">
            <h6 class="wow fadeInDown">Решения</h6>
          </div>
          <div class="wow-outer">
            <h1 class="wow fadeInDown" data-wow-delay="0.4s">{{ solution.industry }}</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 wow-outer">
          <ul class="wow fadeInDown" data-wow-delay="0.8s">
            <li> <a href="./services-list.html">Главная</a></li>
            <li> <a href="./services-list.html">Решения</a></li>
            <li> <a href="./services-list.html">{{ solution.industry }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="description-solution padding-xs bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-3 wow-outer">
          <div class="wow fadeInDown" data-wow-delay="">
            <h4>Отрасль:</h4>
            <p>
              <a href="{{ solution.get_absolute_url }}">{{ solution.industry }} </a>
            </p>
          </div>
        </div>
        <div class="col-3 wow-outer">
          <div class="wow fadeInDown" data-wow-delay="0.5s">
            <h4>Продукты:</h4>
            <p>

              {% for product in products %}

                {% if forloop.last %}
                  <a href="{{ product.get_absolute_url }}"> {{ product.title }}</a>
                {% else %}
                  <a href="{{ product.get_absolute_url }}"> {{ product.title }}</a>,
                {% endif %}

              {% empty %}
                <span>Пусто!</span>
              {% endfor %}

            </p>
          </div>
        </div>
        <div class="col-3 wow-outer">
          <div class="wow fadeInDown" data-wow-delay="1s">
            <h4>Краткое описание:</h4>
            <p>
              {{ solution.short_description }}
            </p>
          </div>
        </div>
        <div class="col-3 wow-outer">
          <div class="wow fadeInDown" data-wow-delay="1.5s">
            <h4>Срок реализации:</h4>
            <p>
              {{ solution.implement_period }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% static_placeholder "About Us Solution" %}

  {% static_placeholder "Slider Solution" %}

  <section class="composition padding-lg">
    <div class="container">
      <div class="row">
        <div class="col-12 wow-outer">
          <h3 class="text-center wow slideInUp">Состав решения</h3>
        </div>
      </div>
      <div class="row mt-5">


        {% for product in products %}
        <div class="col-6 composition-box wow-outer">
          <img class="wow fadeInLeft" src="{% thumbnail product.img 174x174 crop='center center' %}" width="174px"
            alt="{{ product.title }}">
          <div class="desc wow fadeInRight">
            <h5>
              <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
            </h5>
            <span>Серия: {{ product.series }}</span>
            <P class="text-justify">{{ product.description|cut }}</P>
          </div>
        </div>

        {% empty %}
        <h3>Пусто!</h3>
        {% endfor %}

      </div>
    </div>
  </section>

  {% static_placeholder "Recoll Solution" %}

  {% static_placeholder "Alert CTA Solution" %}

  {% endblock content %}