section.smallFeatures.bg-gray.padding-lg
    .container
        .row
            .col-sm-12.col-lg-4
                .box.d-flex
                    .icon
                        i.far.fa-user
                    .main.ml-3
                        .wow-outer
                            h4.wow.slideInDown Сотрудники
    
                        .wow-outer
                            p.wow.slideInDown Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.

            .col-sm-12.col-lg-4
                .box.d-flex
                    .icon
                        i.far.fa-comment-alt
        
                    .main.ml-3
                        .wow-outer
                            h4.wow.slideInDown(data-wow-delay="0.15s") Консультации

                        .wow-outer
                            p.wow.slideInDown(data-wow-delay="0.15s") Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.

            .col-sm-12.col-lg-4
                .box.d-flex
                    .icon
                        i.fas.fa-check
        
                    .main.ml-3
                        .wow-outer
                            h4.wow.slideInDown(data-wow-delay="0.3s") 100% Гарантии
                
                        .wow-outer
                            p.wow.slideInDown(data-wow-delay="0.3s") Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
